/*  
Theme Name: Blitz Silver
Theme URI: http://www.templatesquare.com/
Description: Blitz Silver is a child theme of Blitz.
Author: templatesquare
Author URI: http://www.templatesquare.com/
Tags: theme-options, widget-ready, right-sidebar, silver
Template: blitz3
*/

@import url(../blitz3/style.css);
a:link, a:visited {color:#0099cc; text-decoration:none;}
a:hover{color:#f26522; text-decoration:none;}
#sideright ul li a:hover{color:#f26522 !important; text-decoration:none;}

#top_container{ background-image:url(images/bg_top.jpg);  background-repeat:repeat-x; background-position:top}
#top_container_inner{ background-image:url(images/inner.jpg); background-repeat:repeat-x; background-position:top}
.current-menu-ancestor a, current_page_ancestor a, .current_page_item a, .current-menu-item a, .current-page-ancestor a, .current-page-parent a,  
.current-menu-parent a{background-image:url(images/arrow1.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul li a.active{background-image:url(images/arrow.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul li a:hover{color:#ff6600; text-decoration:none; background-image:url(images/arrow1.gif); background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul .current-menu-parent a{
	color:#ff6600; text-decoration:none; background-image:url(images/arrow1.gif)!important; background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul .current-menu-item a, #topmenu ul  .current-page-ancestor a {
	color:#ff6600!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul li ul li a{
	color:#fff!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul li ul li a:hover{color:#ff6600!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;}

#slideshow_navigation a{background: url(images/button.png) no-repeat scroll 50% 50%;}
#slideshow_navigation .activeSlide {background: url(images/button_selected.png) no-repeat scroll 0% 50%;}



/* загран */

.wrap{
	width: 100%;
	padding: 0 0px;
	margin: 0 auto;
	_line-height: normal!important;
}



#wrap{
	font-family: Arial, Tahoma!important;
	font-size: 14px!important;
	color: #222!important;
}




.head{
	position: relative;
	padding-top: 20px; 
}


.head h2{
	color: #000!important;
	font-size: 20px!important;
	font-weight: bold;
}

.head-link{
	position: absolute;
	top: 12px;
	right: 0;
	font-size: 16px!important;
	text-decoration: underline!important;
	color: #878787!important;
	padding: 10px 0 10px 35px;
	background: url(i/ok.jpg) no-repeat 0 0;
}

.head-link:hover{
	text-decoration: none;
	opacity: .8;
}

p{
	color: #000;
	font-size: 16px;
	line-height: 1.2em;
}

.form{
	background: #fdf7de;
	padding: 20px 20px 10px 20px;
}

.form__title{
	color: #ff501a;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

.form-wrap{
	overflow: hidden;
	margin-top: 20px;
}

.form-col{
	float: left;
	width: 31%;
	margin-left: 2%;
}

.form-col:first-child{
	margin-left: 0;
}


.form-col img{
	float: left;
	margin: 25px 20px 0 0!important;
}

.labels{
	overflow: hidden;
	font-size: 12px;
}

.country{
	width:290px!important;
}

.labels b{
	display: block;
	margin-bottom: 20px;
	font-size: 14px;
}

.labels label{
	display: inline-block;
	vertical-align: top;
	padding: 3px 0 0;
	margin-bottom: 5px;
	border-bottom: 1px solid transparent;
}

.labels label:hover{
	color: #ca0013;
	border-color: #ca0013;
}

.pass label{
	margin-bottom: 12px;
}

.country img{
	margin-top: 40px;
}

.country b{
	_margin-bottom: 5px;
}

.form__subtitle{
	margin: 10px 0 0;
	text-align: center;
	color: #ff501a;
	font-size: 22px;
	font-weight: bold;
 }

.reload-table{
	padding: 0 15px;
	background: #fdf7de;
}

.hidden-table{
	background: #fdf7de;
}

.hidden-doc{

}

.reload-table table{
	width: 100%;
	font-size: 16px;
	border: 0;
	border-spacing: 0;
	padding-bottom:15px!important;
}

.reload-table td{
	padding: 5px!important;
}

.green{
	background: #c6e5ab;
	border-radius: 5px 5px 0 0;
}

.tr-bottom .green{
	border-radius: 0 0 5px 5px;
}

.orange{
	background: #ffe786;
	border-radius: 5px 5px 0 0;
}



.tr-bottom .orange{
	border-radius: 0 0 5px 5px;
}

.reload-notice{
	text-align: right;
	font-size: 13px;
	color: #5a5a5a;
	padding: 3px 0;
}

.cols{
	overflow: hidden;
	_margin-top: 20px;
}

.col-left h3{

	_line-height: 1.1em!important;
}

.col-left{
	float: left;
	width: 500px;
	padding-right:70px; 
}

.col-right{
	overflow: hidden;
	margin-left: 450px;
}

.sub-title{
	color: #ff501a;
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: bold;
}

.sub-title a{
	color: #ff501a;
	text-decoration: underline;
}

.sub-title a:hover{
	opacity: .8;
	text-decoration: none;
}

.sub-title_slide a{

	text-decoration: none!important;
	border-bottom: #ff501a 1px dashed!important;
}

.sub-title_slide a:hover{
border-bottom: none!important;
	text-decoration: none!important;
}

.content-item li{
	margin-bottom: 10px;
	font-size: 18px;
}
.content-item {
	list-style: decimal;
	margin-left:27px;
}

.big-notice{
	margin-top: 70px;
	padding-left: 70px;
	background: url(i/att.jpg) no-repeat 0 0;
}

.big-notice p{
	font-size: 18px;
}

.big-notice span{
	color: #ff501a;
}

.gray-text p{
	padding: 20px;
	text-align: center;
	font-size: 22px;
	color: #878787;
}

.reload-table td{
	text-align: center;
}
.reload {

}

.reload-table td.goleft{
	text-align: left;
}
 
p.big-text{
	font-size: 18px;
	line-height: 1.4em;
}

.allow {
list-style-type:none;
}
.allow li{
	padding: 0 0 0 23px;
	background: url(i/allow.png) no-repeat 0 2px;
	font-size: 16px;
	margin-bottom: 5px;
}

.fz18 img{
	vertical-align: middle;
	margin-right: 10px;
}

.super-title{
	padding-left: 60px;
	font-size: 36px;
	color: #ff501a;
	background: url(i/call_o.png) no-repeat 0 0;
	font-weight: bold;
	
}

.contact {
	margin-top:40px;
}

.big-tel{
	position: relative;
	background: #fff5e9;
	padding: 20px 20px 1px 20px;
	width: 330px;
	margin: 30px auto 50px;
	color: #000;
	font-size: 32px;
	text-align: center;
	line-height: 1.4em;
}

.hidden-tel{
display: none;
}

.big-tel a{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0px;
	font-size: 10px;
	color: #b3a18c;
	text-decoration: underline;
	
}

.big-tel a:hover{
	text-decoration: none;
	opacity: .8;
}

.m_1{
	color: #ff6600;
}

.m_2{
	color: #606060;
}

.m_3{
	color: #5d9e36;
}

.mapcas{
	position: relative;
	padding-bottom: 20px;
	text-align: center;
	width: 349px;
	margin: 40px auto 0;
}

.mapcas a{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px;
	font-size: 10px;
	color: #b3a18c;
	text-decoration: underline;
}

.mapcas a:hover{
	text-decoration: none;
	opacity: .8;
}

.bottom-form{
	margin: 30px 0;
}


.bottom-form__title{
	font-size: 36px;
	color: #ff501a;
	padding: 10px 0 10px 70px;
	background: url(i/recall.png) no-repeat 0 0;
	font-weight: bold;
}

.inputs{
	overflow: hidden;
	margin: 10px 0;
	min-height:90px;
}

.inp{
	float: left;
	margin-left: 10px;
}

.inp:first-child{
	margin: 0;
}


.inp label{
	display: block;
	margin-bottom: 5px;
	color: #444;
}

.inp input[type=text]{
	display: block;
	border-radius: 5px;
	width: 340px;
	padding: 10px;
	height: 38px;
	border: 1px solid #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inp input[type=tel]{
	display: block;
	border-radius: 5px;
	width: 340px;
	padding: 10px;
	height: 38px;
	border: 1px solid #ccc;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inp_s{
	padding-top: 24px;
}

.inp_s input{
	text-decoration: underline;
	background: #ff501a;
	font-size: 24px;
	color: #fff;
	height: 38px;
	padding: 0 10px;
	border: none;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

.inp_s input:hover{
	text-decoration: none;
	opacity: .8;
}

.gray-link{
	color: #878787!important;
	text-decoration: underline!important;
}

.gray-link:hover{
	text-decoration: none;
	opacity: .8;
}
.fz18{
	font-size: 18px;
}
.gm_b40{
	margin-bottom: 40px;
}

.form input:checked + label {border-bottom: 1px solid #ca0013; color:#ca0013}
.form label {cursor: pointer;}

.inp_s input:hover, #dont_call:hover, #slide_on_off:hover, #slide_on_off_stop {cursor: pointer;}
#slide_on_click {display: none;}
#slide_on_click_stop {display: none;}
#slide_on_click ul {margin-left:15px}