.comment-wrapper{
    width: 944px;
    height: auto;
    margin: 0 auto;
    margin-top: 32px;
}

.head-comments{
    width: 100%;
    height: 79px;
    line-height: 83px;
    padding-left: 0px;
    font-size: 38px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: 700;
    letter-spacing: -1px;
}

.sub-head-comments{
    width: 923px;

    height: 69px;
    padding-left: 18px;
    position: relative;
    border-bottom: 2px solid #cfcfcf;
    /* margin-bottom: 19px; */
}

.button-coments{
    position: absolute;    
    right: 1px;
    top: 12px;
    width: 165px;
    height: 39px;
    background-color: #f46f33;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 43px;
    text-transform: uppercase;
    border-bottom: 3px solid #c35929;
    cursor: pointer;
}

.count-coments{
    width: 247px;    
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 28px;
    left: 3px;
}

.count-com{
    font-weight: 700;    
}

.altair-comment-avatar{
    position: absolute;

    background: url(img/nophoto.png) no-repeat center center;
    /* top: 14px;*/
    border-radius: 50%;
    overflow: hidden;
    width: 98px;
    height: 98px;
}

.avatar-wrapper{
    width: 102px;
    height: auto;
    min-height: 116px;
    position: relative;
    float: left;
    margin-top: 35px;
}

.comment-wrap{
    border-top: 1px solid #cfcfcf;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    /* margin-top: 0px; */

}

.autor-comment{
    position: absolute;
    z-index: 0;
    top: 46px;

    left: 127px;
    font-weight: 600;
    font-size: 14px;
}

.date-comments{
    position: absolute;
    z-index: 0;
    left: 126px;
    top: 72px;
    color: #797979;
    font-family: 'Open Sans', sans-serif;
    width: 118px;
    overflow: hidden;
    height: 20px;
    font-size: 13px;
}

.comment-text-altair{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    float: left;    
    margin-left: 26px;
    margin-top: 94px;
    margin-bottom: 26px;
    height: auto;
    width: 805px;
    line-height: 24px;
    font-weight: 600;
}

.attachmentFile{
    height: 123px;
    position: absolute;
    width: 98px;  
    overflow: hidden;
    top: 19px;
    left: 0;
    z-index: 2222;
    background-color: transparent;
}

.attachmentFile img{
    position: absolute;
    top: 14px;
    left: 0;
    width: 98px;  
    height: 98px;
    border-radius: 50%;
}

.comment:first-child .comment-wrap{
    border: none;
}

.add-com-form-wrapper{
    background-color: #faf3dc;
/*    width: 1200px;*/
    height: 530px;
    margin: 0 auto 23px auto;
}

.add-com-form{
    position: relative;
    width: 944px;
    margin: 0 auto;
    height: 529px;
}

.comment-text-altair p{
    position: relative;
    top: 2px;
}

.hsc-button-loadmore{
    display: block;
    position: relative;
    bottom: 17px;
    //background-color:#d9d9d9;
    //border-bottom: 2px solid #aeaeae;
    width: 208px;
    height: 39px;
    margin: 0 auto !important;
    line-height: 39px;
    margin-bottom: 22px !important;
}

.hsc-button-loadmore a{
    display: block;
    color: #545454;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 13px !important;
    text-align: center;
    letter-spacing: -0.5px;
    margin: 0 !important;
    width: 208px;
    height: 39px;
    background-color:#d9d9d9;
    border-bottom: 2px solid #aeaeae;
}

.add-com-form #reply-title{
    display: block;    
    width: 944px;
    height: 126px;
    line-height: 126px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;      font-weight: 700;
    font-size: 30px;
}



.comment-form-author{
    position: absolute;

    top: 127px;
    left: -1px;
    width: 390px;
    height: 45px;
}

.comment-form-author input{
    height: 100%;
    width:100%;
    padding-left: 22px;
    color: #c19f69;
    border: 1px solid #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
    outline:none;
}

.comment-form-author input::-webkit-input-placeholder {
    color: #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
}
.comment-form-author input:-moz-placeholder {
    color: #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
}

.comment-form-comment{
    position: absolute;

    top: 200px;
    left: -1px;
    width: 892px;
    height: 176px;
}

.comment-form-comment textarea{
    height: 100%;
    width:100%;
    padding: 15px 22px;
    color: #c19f69;
    border: 1px solid #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
    outline:none;
    resize: none;
}

.comment-form-comment textarea::-webkit-input-placeholder {
    color: #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
}
.comment-form-comment textarea:-moz-placeholder {
    color: #c19f69;
    font-family: 'Open Sans', sans-serif;      
    font-weight: 600;
    font-size: 14px;
}

.add-com-form .form-submit{
    display: block;
    position: absolute;
    
    border-bottom: 3px solid #c35929;
    width: 208px;  height: 39px;
    background-color: #f46f33;
    top: 421px;
    left: -1px;
}

.add-com-form #submit {
    width: 100%;
    
    height: 100%;
    position: absolute;  right: 1px;  top: 12px;      
    background-color: transparent;  font-size: 12px;  font-family: 'Open Sans', sans-serif;  font-weight: 700;  color: #ffffff;  text-align: center;  
    line-height: 43px;  text-transform: uppercase;  
    /* border-bottom: 3px solid #c35929; */  cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    left: 0;
}

.add-com-form .comment-form-attachment label{
    position: absolute;

    top: 21px;
    left: 51px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.add-com-form .comment-form-attachment label small{
    position: absolute;
    
    left: -5px;
    top: 25px;
    display: block;
    width: 455px;
    height: 32px;
    color: #7f7f7f;
}

.add-com-form .comment-form-attachment{
    display: block;
    position: absolute;
    top: 89px;
    right: 7px;
    overflow: hidden;
    height: 95px;
    width: 500px;
    /* cursor: pointer; */
}

.add-com-form #attachment{
    position: absolute;
    
    z-index: 7;
    top: -3px;
    left: 109px;
    width: 157px;
    height: 47px;
    /* border: 1px solid black; */
    opacity: 0;
    cursor: pointer;
}

.add-com-form .comment-form-attachment:ntn-child(2){
    
} 

.file-maska{
    position: absolute;
    top: 102px;  
    left: 614px;  
    width: auto;  
    height: 26px;
    line-height: 35px;
    color: #f46f33;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-bottom: 2px dashed #f46f33;
    cursor: pointer;
}

.file-name{
    position: absolute;
    top: 116px;  
    left: 750px;  
    width: 190px;  
    overflow: hidden;
    height: 26px;
    line-height: 35px;
    color: #f46f33;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    /* border-bottom: 2px dashed #f46f33; */
    cursor: pointer;
}
