/* 
    Created on : 26.01.2015, 23:00:37
    Author     : linn.coffeein@gmail.com
*/

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/bebasneue_bold.eot');
    src: url('fonts/bebasneue_bold.eot?#iefix') format('embedded-opentype'), 
        url('fonts/bebasneue_bold.woff') format('woff'),
        url('fonts/bebasneue_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.row {
    margin-right: -20px;
    margin-left: -20px;
}
.iwt1-top{
    background: url(img/menu-light.jpg) 0 0 repeat;
    height: 65px;
    width: 100%;
    margin: 8px 0 0 0;
    border-bottom: 2px solid #4a4a4a;
}

.iwt1-logo,.iwt1-logo:hover{
    background: url(img/icons.png) 0 -31px no-repeat;
    width: 147px;
    margin: 7px 42px 0 0px;
    height: 37px;
    display: inline-block;
    text-decoration: none;
}

.iwt1-span-italic{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 11px;
    line-height: 13px;
    margin: 16px 0 0 0;
    color: #000000;
    display: inline-block;
}
.iwt1-orange-btn, .iwt1-orange-btn:hover,
.iwt1-orange-btn:active, .iwt1-orange-btn:focus,
.iwt1-gray-btn, .iwt1-gray-btn:hover,
.iwt1-gray-btn:active, .iwt1-gray-btn:focus,
.iwt1-green-btn, .iwt1-green-btn:hover,
.iwt1-green-btn:active, .iwt1-green-btn:focus{
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    line-height: 40px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0 24px;
    background: #f46f33;
    border: none;
    border-radius: 0;
    height: 41px;
    outline: none;
    margin: 8px 0 0 26px;
    font-weight: 700;
    border-bottom: 3px solid #c35929;
}
.iwt1-gray-btn, .iwt1-gray-btn:hover,
.iwt1-gray-btn:active, .iwt1-gray-btn:focus{
    background: #d9d9d9;
    border-bottom: 3px solid #aeaeae;
    color: #474747;
    margin: 21px auto 0 auto;
    display: block;
}

.iwt1-green-btn, .iwt1-green-btn:hover,
.iwt1-green-btn:active, .iwt1-green-btn:focus{
    background: #26a238;
    border-bottom: 3px solid #1e822d;
    /*color: #474747;*/
    /*margin: 21px auto 0 auto;*/
    display: block;
}

.iwt1-top-phone, .iwt1-top-phone:hover{
    text-decoration: none;
    display: inline-block;
    margin: 21px 3px 0 0;
}

.iwt1-phone-big,.iwt1-phone-small{
    color: #222;
    font-family: Arial, Tahoma;
}

.iwt1-phone-small{
    font-size: 11px;
    line-height: 11px;
    margin: 0 0 5px 0;
    vertical-align: super;
}
.iwt1-phone-big{
    font-size: 19px;
    line-height: 17px;
    font-weight: bold;

}
.iwt1-dark-menu{
    height: 70px;
    position: relative;
    width: 100%;
    background: url(img/menu-dark.jpg) 0 0 repeat;
    border-bottom: 4px solid #ffffff;
    -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.2);
    -moz-box-shadow:    0px 6px 10px 0px rgba(50, 50, 50, 0.2);
    box-shadow:         0px 6px 10px 0px rgba(50, 50, 50, 0.2);

}
.iwt1-orange-block{
    background: url(img/orange.png) center center #ffc532 no-repeat;
    height: 630px;
    width: 100%;
    padding: 0 0 40px 0;
}
.iwt1-title{
    font-family: 'Bebas Neue';
    color: #232323;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 47px auto 37px auto;
}
.iwt1-orange-title{
    color: #f44508;
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    display: inline-block;
}

.iwt1-list, .iwt1-footer-list{
    list-style: none;
    padding: 0 0 0 40px;
}
.iwt1-footer-list{
    padding: 0;
}
.iwt1-list li{
    padding: 0 0 0 15px;
    display: block;
    background: url(img/icons.png) -5px -76px no-repeat;
}
.iwt1-footer-list li{
    display: block;
    margin: 0 0 2px 0px;
}
.iwt1-list li a,
.iwt1-list li a:hover,
.iwt1-footer-list li a,
.iwt1-footer-list li a:hover{
    display: inline-block;
    text-decoration: underline;
    color: #000000;
    font-family: 'Open Sans', sans-serif; 
    font-size: 13px;
    line-height: 20px;
    font-weight: 600;
}
.iwt1-footer-list li a,
.iwt1-footer-list li a:hover{
    color: #8a8a8a;
    text-decoration: none;
    line-height: 18px;
    font-size: 12px;
    display: inline-block;
}


.iwt1-orange-icon{
    background: url(img/icons.png) 0 0 no-repeat;
    display: inline-block;
    margin: 0 10px 0 0;
    width: 27px;
    height: 24px;
    display: inline-block;
}

.iwt1-orange-icon-1{
    background-position: 0 0;
}
.iwt1-orange-icon-2{
    background-position: -35px -2px;
}
.iwt1-orange-icon-3{
    background-position: -69px 0px;
}
.iwt1-orange-icon-4{
    background-position: -105px -2px;
}
.iwt1-orange-icon-5{
    background-position: -139px -2px;
}

.iwt1-passport{
    background: url(img/icons.png) -2px -104px no-repeat;
    width: 227px;
    height: 323px;
    margin: 51px auto 64px auto;
}
.iwt1-list-wrapper{
    margin: 0 0 46px 0;
}
.iwt1-clients-only{
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    padding: 0 0 0 57px;
    text-align: left;
    font-weight: 600;
}
.white-wave{
    background: url(img/wave.png) 0 0 repeat-x;
    height: 14px;
    width: 100%;
    margin-top: -11px;
}
.iwt1-white-block{
    padding: 47px 0 13px 0;
}
.iwt1-white-block p{
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 24px 0;
    text-align: center;
    font-weight: 600;
}
.iwt1-days-block{
    border-top: 2px solid #d0d0d0;
    border-bottom: 2px solid #d0d0d0;
    padding: 40px 0 32px 0;
    margin: 0 0 43px 0;
}
.iwt1-days-bold{
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    font-weight: 700;
    text-align: center;
}
.iwt1-day{
    background: #f46f33;
    height: 106px;
    width: 106px;
    border-radius: 54px;
    margin: 37px auto 18px auto;
}
.iwt1-day-number, .iwt1-day-text{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
}
.iwt1-day-number{
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    padding: 18px 0 0 0;
}
.iwt1-day-text{
    font-size: 14px;
    line-height: 15px;
    font-weight: 600;
}
.iwt1-day-title{
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    font-weight: 600;
}
.iwt1-gray-block{
    background: #e0e0e0;
    padding: 50px 0 50px 0;
}
.iwt1-title-bold{
    font-family: 'Open Sans', sans-serif; 
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    /*font-weight: 600;*/
    text-align: center;
}
.iwt1-title-bold b{
    font-weight: 700;
}
.iwt1-three-icon{
    width: 46px;
    height: 46px;
    background: url(img/icons.png) -1px -436px no-repeat;
    margin: 48px auto 21px auto;
}
.iwt1-three-icon-1{
    background-position: -1px -436px;
}
.iwt1-three-icon-2{
    background-position: -60px -435px;
}
.iwt1-three-icon-3{
    background-position: -126px -435px;
}
.iwt1-three-uppercase,.iwt1-col-text{
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    line-height: 15px;
    color: #212121;
    text-align: center;
}
.iwt1-three-uppercase{
    height: 26px;
    margin: 0 auto 20px auto;
    text-transform: uppercase;
    font-weight: 700;
}
.iwt1-col-text{
    font-weight: 600;
    line-height: 16px;
}
.iwt1-col-five{
    width: 20%;
    float: left;
}
.iwt1-five-icon{
    width: 110px;
    height: 110px;
    background: url(img/icons.png) 0 -494px no-repeat;
    margin: 37px auto 22px auto;
}
.iwt1-five-icon-1{
    background-position:  0 -494px;
}
.iwt1-five-icon-2{
    background-position:  -116px -494px
}
.iwt1-five-icon-3{
    background-position:  -229px -494px
}
.iwt1-five-icon-4{
    background-position:  -340px -494px
}
.iwt1-five-icon-5{
    background-position:  -453px -494px
}
.iwt1-five-block{
    padding: 60px 0 40px 0;
    background: #ffffff;
}

.iwt1-seven-block{
    padding: 49px 0 63px 0;
    background: #f5ecd0;
}

.iwt1-seven-icon{
    width: 54px;
    height: 54px;
    background: url(img/icons.png) 0 -626px no-repeat;
    margin: 60px auto 33px auto;
}
.iwt1-seven-icon-1{
    background-position:  0 -626px;
}
.iwt1-seven-icon-2{
    background-position:  -62px -627px;
}
.iwt1-seven-icon-3{
    background-position:  -133px -626px;
}
.iwt1-seven-icon-4{
    background-position:  -56px -431px;
}
.iwt1-seven-icon-5{
    background-position:  -209px -627px;
}
.iwt1-seven-icon-6{
    background-position:  -288px -624px;
}
.iwt1-seven-icon-7{
    background-position:  -365px -624px;
}
.iwt1-small-row{
    width: 70%;
    margin: 30px auto 0 auto;
}
.iwt1-adv-wrapper{
    padding: 74px 0 39px 0;
    background: #ffffff;
}
.iwt1-gray-row{
    background: #e7e7e7;
    padding: 33px 0;
    margin: 28px 0 23px 0;
    margin-left: -20px;
    margin-right: -20px;
}
.iwt1-adv-col{
    padding: 0 35px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    font-weight: 600;
}
.iwt1-adv-link, .iwt1-adv-link:hover{
    color: #f46f33;
    font-size: 16px;
    line-height: 17px;
    font-weight: 700;
    text-decoration: underline;
    display: block;
}
.iwt1-adv-date{
    color: #777777;
    font-size: 11px;
    margin: 16px 0 25px 0;
    text-align: left;
    font-weight: 600;
}
.iwt1-adv-text{
    color: #000000;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    margin: 22px auto 86px auto;
}
.iwt1-footer{
    background: url(img/prefooter.png) 0 0 repeat-x;
    width: 100%;
    height: 413px;
    padding: 43px 0 0 0;
    box-sizing: border-box;
}
.iwt1-footer-title{
    font-family: 'Open Sans', sans-serif; 
    color: #f46f33;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 16px 0;
    text-transform: uppercase;
    font-weight: 600;
}
.iwt1-list-footer-wrapper{
    margin: 0 0 46px 0;
}
.iwt1-no-padding{
    padding: 0;
}
.iwt1-padding-right{
    padding: 0 6px 0 0;
}
.iwt1-left-padding-20{
    padding: 0 0 0 20px;
}
.iwt1-dark-footer{
    height: 70px;
    background: #0f0f0f;
    color: #999999;
    line-height: 16px;
    font-size: 11px;
    text-align: center;
    padding: 19px 0 0 0;
}
.iwt1-dark-footer a, .iwt1-dark-footer a:hover{
    color: #999999;
    line-height: 16px;
    font-size: 11px;
    text-decoration: none;
}
.iwt1-social-wrapper{
    color: #ffffff;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    line-height: 34px;
    margin: 26px 0 0 0;
}

.iwt1-social-wrapper span,
.iwt1-social-wrapper a,
.iwt1-social-wrapper a:hover{
    margin: 0 9px 0 0;
}

.iwt1-social-link,.iwt1-social-link:hover{
    background: url(img/icons.png) -2px -691px no-repeat;
    width: 34px;
    height: 34px;
    display: inline-block;
    text-decoration: none;
}
.iwt1-fb, .iwt1-fb:hover{
    background-position: -47px -691px;
}
.iwt1-padding-left{
    padding: 0 0 0 64px;
}


.iwt1-contact-modal-dialog,.iwt1-auth-modal-dialog,
.iwt1-recovery-modal-dialog{
    width: 510px;
    padding: 38px 38px 43px 38px;
    background: #fff;
    border-radius: 0px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -260px;
    margin-top: -158px;
    height: 316px;
}

.iwt1-auth-modal-dialog{
    width: 318px;
    margin-left: -159px;
    margin-top: -136px;
    height: 272px;
}
.iwt1-recovery-modal-dialog{
    width: 484px;
    margin-left: -242px;
    margin-top: -136px;
    height: 272px;
}


.iwt1-close,.iwt1-close:hover{
    background: url(img/icons.png) -214px -2px no-repeat !important;
    width: 14px;
    height: 15px;
    top: 27px;
    right: 25px;
    position: absolute;
    opacity: 1;
    display: block;
    filter: alpha(opacity=100);
}

.iwt1-modal-header{
    color: #232323;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    line-height: 30px;
    margin: 0 0 29px 0;
    text-align: center;
}
.iwt1-input-wrapper{
    width: 100%;
    margin: 0 0 13px 0;
}
.iwt1-input, .iwt1-input:active,
.iwt1-input:focus, .iwt1-input:hover{
    background: #c7c7c7;
    width: 100%;
    padding: 0 22px;
    height: 36px;
    line-height: 36px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: #333333;
    border: none;
    border-radius: 0;
    font-size: 14px;
    outline: none;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #6b6b6b;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #6b6b6b;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #6b6b6b;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #6b6b6b;
}
.iwt1-contact-text{
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: #232323;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 27px 0;
}
.iwt1-contact-btn, .iwt1-contact-btn:hover,
.iwt1-contact-btn:active,.iwt1-contact-btn:focus,
.iwt1-login-btn, .iwt1-login-btn:hover,
.iwt1-login-btn:active, .iwt1-login-btn:focus
{
    margin: 0 auto;
    display: block;
}
.iwt1-login-btn, .iwt1-login-btn:hover,
.iwt1-login-btn:active, .iwt1-login-btn:focus{
    width: 100%;
}


.iwt1-menu{
    list-style: none;
    padding: 0;
    -webkit-padding-start: 0;
}
.iwt1-menu li{
    width: 20%;
    height: 70px;
    float: left;
    padding: 0 30px;
    position: relative;
}
.iwt1-menu-wrapper{
    position: relative;
    height: 70px;
}

.iwt1-menu .active,
.iwt1-menu .current:hover{
    border-bottom: 4px solid #f5800e;
    z-index: 99;
    position: relative;
}
.iwt1-menu .current a,
.iwt1-menu .current a:hover,
.iwt1-menu .active a,
.iwt1-menu .active a:hover{
    display: block;
    text-decoration: none;
    color: #fffefe;
    font-size: 18px;
    line-height: 66px;
    font-family: Arial, Tahoma;
}
.iwt1-menu .active a,
.iwt1-menu .active a:hover,
.iwt1-menu .current a:hover{
    color: #f5800e;
}

.iwt1-submenu{
    background:#f9f9f9;
    width: 100%;
    padding: 20px 30px 23px 30px;
    position: absolute;
    top: 70px;
    z-index: 88;
    height: 95px;
}
.iwt1-submenu-open{
    height: auto;
}
.iwt1-submenu-icon,
.iwt1-submenu-icon:hover{
    background: url(img/menu-icon.png) 0 0 no-repeat;
    width: 41px;
    height: 22px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.iwt1-submenu-col{
    padding: 0 30px;
}
.iwt1-submenu-col a,
.iwt1-submenu-col a:hover{
    color: #303030;
    font-family: Arial, Tahoma;
    font-size: 15px;
    line-height: 15px;
    font-weight: bold;
    margin: 0 0 15px 0;
    display: inline-block;
    text-decoration: none;
}

.iwt1-lk-top{
    height: 29px;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
}
.iwt1-lk-link, .iwt1-lk-link:hover{
    color: #0e7aba;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 14px;
    text-decoration: underline;
    margin: 9px -19px 0 0;
}

.iwt1-breadcrumb>li+li:before{
    padding: 0 1px;
    color: #676767;
    content: ">";
}
.iwt1-breadcrumb {
    padding: 0;
    margin: 36px 0 35px 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0px;
}
.iwt1-breadcrumb>li,
.iwt1-breadcrumb>li a{
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
.breadcrumb>.active a,.breadcrumb>.active a:hover,
.breadcrumb>li a{
    color: #f46f33;
    text-decoration: none;
}
.iwt1-pagetitle,.iwt1-formtext-14, .iwt1-formtext-bold, .iwt1-ads-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: #333333;
    margin: 0 0 39px 0;
}
.iwt1-formtext-14, .iwt1-formtext-bold, .iwt1-ads-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.iwt1-formtext-14 b, .iwt1-formtext-bold{
    font-weight: 700;
}
.iwt1-formtext-bold{
    margin: 0 0 16px 0;   
}

.iwt1-margin-bottom-30{
    margin-bottom: 30px;
}
.iwt1-margin-bottom-32{
    margin-bottom: 32px;
}
.iwt1-margin-bottom-20{
    margin-bottom: 20px;
}

/*чекбоксы*/

input[type=checkbox].iwt1-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].iwt1-checkbox + label.iwt1-label {
    padding-left:35px;
    height:21px; 
    display:inline-block;
    line-height:21px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    vertical-align:middle;
    cursor:pointer;
    color: #333333;
    margin: 0;
}

input[type=checkbox].iwt1-checkbox:checked + label.iwt1-label {
    background-position: 0 -21px;
}
label.iwt1-label {
    background-image:url(img/csscheckbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*чекбоксы*/

.iwt1-lk-email, 
.iwt1-lk-email:hover,
.iwt1-lk-email:focus,
.iwt1-lk-email:active{
    width: 210px;
    height: 32px;
    line-height: 31px;
    padding: 0 16px;
}
.iwt1-checkbox-wrapper{
    margin: 6px 20px 0 0;
}
.iwt1-ready-row{
    padding: 28px 0 34px 0;
    width: 100%;
    border-top: 2px solid #cacaca;
}
.iwt1-ready-row:last-child{
    border-bottom: 2px solid #cacaca;
}
.iwt1-margintop{
    margin-top: 64px;
}

.iwt1-ready-green .iwt1-ready-icon,
.iwt1-ready-gray .iwt1-ready-icon,
.iwt1-ready-orange .iwt1-ready-icon{
    width: 42px;
    height: 42px;
    margin: 0 13px 0 0;
}

.iwt1-ready-green .iwt1-ready-icon{
    background: url(img/icons.png) -239px 0 no-repeat;
}

.iwt1-ready-gray .iwt1-ready-icon{
    background: url(img/icons.png) -281px -1px no-repeat;
}
.iwt1-ready-orange .iwt1-ready-icon{
    background: url(img/icons.png) -323px 0 no-repeat;
}

.iwt1-ready-green .iwt1-ready-text,
.iwt1-ready-gray .iwt1-ready-text,
.iwt1-ready-orange .iwt1-ready-text{
    font-weight: 600;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    margin: 5px 0 0 0;
    width: 165px;
}
.iwt1-ready-green .iwt1-ready-date,
.iwt1-ready-gray .iwt1-ready-date,
.iwt1-ready-orange .iwt1-ready-date{
    font-weight: 400;
    margin: 17px 0 0 0;
}

.iwt1-ready-green .iwt1-ready-text,
.iwt1-ready-green .iwt1-ready-date{
    color: #28ab3e;
}
.iwt1-ready-gray .iwt1-ready-text,
.iwt1-ready-gray .iwt1-ready-date{
    color: #818181;
}
.iwt1-ready-orange .iwt1-ready-text,
.iwt1-ready-orange .iwt1-ready-date{
    color: #f46f33;
}
.iwt1-ready-arrow{
    background: url(img/icons.png) -391px -16px no-repeat;
    width: 48px;
    height: 10px;
    margin: 16px 80px;
}
.iwt1-ready-green .iwt1-col-small,
.iwt1-ready-gray .iwt1-col-small,
.iwt1-ready-orange .iwt1-col-small{
    width: 90px;
}
.iwt1-ready-text-13{
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    line-height: 14px;
    font-weight: 400;
}

.iwt1-ready-text-wrapper{
    margin: 38px 0 0 0;
}
.iwt1-docs-wrapper{
    padding: 0 48px 0 0;
    margin: 0 0 50px 0;
}
.iwt1-docs-block{
    padding: 0 0 17px 0;
    background: #e1e1e1;
    color: #000000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
}
.iwt1-docs-title, .iwt1-docs-subtitle{
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 17px 0;
}

.iwt1-docs-subtitle{
    font-size: 14px;
    line-height: 14px;
    margin: 0 0 26px 0;
}

.iwt1-padding-block{
    padding: 30px 30px 15px 42px;
}
.iwt1-docs-list{
    padding: 0;
    -webkit-padding-start: 0;
    list-style: none;
}
.iwt1-docs-list li{
    display: block;
    margin: 0 0 11px 0;
    color: #000000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 15px;
    background: url(img/square.png) center left no-repeat;
    padding-left: 15px;
}
.iwt1-docs-border{
    border-bottom: 1px solid #bebebe;
    padding: 32px 31px 19px 45px;
}
.iwt1-docs-border .iwt1-docs-title{
    margin-bottom: 35px;
}
.iwt1-margin-bottom-65{
    margin-bottom: 65px;
}

.iwt1-col-orange{
    color: #e15f25;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    font-weight: 700;
    padding: 0 18px 0 0;
    text-align: right;
    width: 31%;
}
.iwt1-col-time{
    color: #000000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    font-weight: 600;
    padding: 0;
    text-align: left;
    width: 32%;
}
.iwt1-col-day{
    font-family: 'Open Sans', sans-serif;
    line-height: 12px;
    text-transform: uppercase;
    width: 37%;
    padding: 0;
}
.iwt1-time-row{
    padding: 12px 0 13px 0;
    border-bottom: 1px solid #c3c3c3;
}
.iwt1-time-row:last-child{
    border-bottom: none;
}
.iwt1-address-col{
    padding: 16px 0 0 46px;
}
.iwt1-address-col .iwt1-docs-title{
    margin-bottom: 16px;
}

.iwt1-width-216{
    width: 216px;
    margin: 0 0 16px 0;
}
.iwt1-bordered-block{
    width: 442px;
    border: 1px solid #b6b6b6;
    padding: 30px 33px 33px 30px;
    color: #333333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 14px;
    font-weight: 400;
    margin: 35px 0 30px 0;
}
.iwt1-font-18{
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin: 0 0 22px 0;
}
.iwt1-bordered-block .iwt1-input,
.iwt1-bordered-block .iwt1-input:hover,
.iwt1-bordered-block .iwt1-input:focus,
.iwt1-bordered-block .iwt1-input:active{
    width: 145px;
    height: 31px;
    line-height: 31px;
    background: #d6d6d6;
    padding: 0 16px;
}

.iwt1-client-form .iwt1-input,
.iwt1-client-form .iwt1-input:hover,
.iwt1-client-form .iwt1-input:active,
.iwt1-client-form .iwt1-input:focus{
    width: 247px;
    height: 31px;
    line-height: 31px;
    background: #d6d6d6;
}

.iwt1-lineheight-31{
    line-height: 31px;
}
.iwt1-marginbottom-14{
    margin-bottom: 14px;
}
.iwt1-marginbottom-14:last-child{
    margin-bottom: 0;
}
.iwt1-add-client,
.iwt1-add-client:hover,
.iwt1-add-client:active,
.iwt1-add-client:focus{
    margin: 0 0 80px 0;
    padding: 0 26px;
}
.iwt1-client-form{
    width: 430px;
    margin: 0 0 66px 0;
}
.iwt1-address-form-wrapper{
    margin: 0 0 84px 0;
    width: 534px;
}
.iwt1-address-form-wrapper .iwt1-docs-title{
    margin-bottom: 32px;
}
.iwt1-address-text{
    width: 304px;
    margin: 0;
}
.iwt1-delete-address, .iwt1-delete-address:hover{
    color: #f70707;
    font-size: 12px;
    line-height: 14px;
    border-bottom: 1px dashed #f70707;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.iwt1-address-row{
    margin-bottom: 10px;
}

.iwt1-address-form .iwt1-input{
    width: 356px;
    margin: 0 15px 0 0;
    height: 41px;
    line-height: 41px;
    padding: 0 17px;
}
.iwt1-add-address,
.iwt1-add-address:hover,
.iwt1-add-address:active,
.iwt1-add-address:focus{
    margin: 0;
    padding: 0 26px;
}
.iwt1-address-form{
    margin: 33px 0 0 0;
}
.iwt1-checkbox-sms{
    margin: 0 57px 0 0;
}
.iwt1-textarea{
    background: #d6d6d6;
    border: none;
    padding: 17px 16px;
    line-height: 16px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    color: #333333;
    border: none;
    border-radius: 0;
    font-size: 14px;
    outline: none;
    width: 570px;
    height: 96px;
    margin: 0 18px 0 0;
}
.iwt1-send-email, .iwt1-send-email:hover,
.iwt1-send-email:focus, .iwt1-send-email:active{
    margin: 0;
}
.iwt1-textarea-wrapper{
    margin: 34px 0 43px 0;
}
.iwt1-hr{
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #d6d6d6;
}
.iwt1-suspend, .iwt1-suspend:hover,
.iwt1-suspend:active, .iwt1-suspend:focus{
    margin: 36px 0 46px 0;
    padding: 0 29px;
}
.iwt1-unsuspend, .iwt1-unsuspend:hover,
.iwt1-unsuspend:active, .iwt1-unsuspend:focus{
    margin: 38px 0 55px 0;
}

.iwt1-width-100{
    width: 100%;
    height: 109px;
}
.iwt1-send-comment, .iwt1-send-comment:hover,
.iwt1-send-comment:active, .iwt1-send-comment:focus{
    margin: 6px 0 68px 0;
    padding: 0 46px;
}
.iwt1-submenu-inner{
    display: none;
    overflow: hidden;
    background: #f9f9f9;
    width: 100%;
    padding: 0;
    z-index: 88;
}
.iwt1-ads-col{
    padding: 0 35px;
    line-height: 24px;
    margin-bottom: 57px;
}
.iwt1-ads-row{
    margin: 0 -55px -10px -55px;
}
.iwt1-ads-link, .iwt1-ads-link:hover{
    color: #f46f33;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: block;
    text-decoration: underline;
    margin-bottom: 5px;
}
.iwt1-ads-date{
    color: #838383;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 12px;
    /*line-height: 24px;*/
    margin-bottom: 15px;
}
.iwt1-ads-text{
    margin: 0;
    line-height: 24px;
}
.iwt1-pagetitle-ads{
    margin: 0 0 26px 0;
}
.iwt1-pagetitle-translit{
    line-height: 45px;
    margin-top: -7px;
    margin-bottom: 19px;
}
.iwt1-translit-text p{
    color: #000000;
    font-family: 'Open Sans', sans-serif; 
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 25px;
}
.iwt1-translit-text:last-child{
    margin-bottom: 53px;
}

.iwt1-translit-input{
    background: #f0f0f0;
    border-radius: 5px;
    padding: 0 3px;
    height: 34px;
    line-height: 34px;
    /*font-family: 'PT Sans', sans-serif;*/
    font-family: 'Open Sans', sans-serif; 
    font-weight: 400;
    font-size: 12px;
    color: #333333;
    width: 130px;
    margin-right: 11px;
    border: 3px solid #f4f4f4;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.iwt1-translit-btn,.iwt1-translit-btn:hover,
.iwt1-translit-btn:active, .iwt1-translit-btn:focus{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    width: 292px;
    height: 34px;

    line-height: 14px;
    color: #fff;
    font-size: 12px;
    background-color: #d66267;
    border: 3px solid #f4f4f4;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif; 
    outline: none;
}

.iwt1-translit-btn:hover{
    border: 3px solid #d6878d;
}
.iwt1-translit-passport{
    width: 586px;
    height: 414px;
    background: url(img/icons.png) -18px -765px no-repeat;
    position: relative;
    margin: 0 auto 15px auto;
}
.iwt1-lastname-wrapper, .iwt1-name-wrapper {
    position: absolute;
    top: 87px;
    left: 191px;
    height: 33px;
    width: 385px;
    max-width: 385px;
    overflow: hidden;
    white-space: nowrap;
    line-height: 15px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 12px;
    text-transform: uppercase;

}
.iwt1-name-wrapper{
    top: 131px;   
}
.iwt1-lastname-rus:after,.iwt1-name-rus:after{
    content: '/';
}
/*.iwt1-input-error{
    border: 3px solid red;
}*/
.iwt1-translit-formwrapper{
    width: 586px;
    margin: 0 auto 0 auto;
}
.iwt1-passpost-bottom{
    position: absolute;
    bottom: 38px;
    left: 20px;
    height: 50px;
    max-width: 557px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Open Sans', sans-serif; 
    font-size: 16px;
    text-transform: uppercase;
}
.iwt1-translit-rules{
    width: 586px;
    height: 410px;
    background: url(img/icons.png) -3px -1192px no-repeat;
    position: relative;
    margin: 0 auto 0 auto;
}
.iwt1-show-rules, .iwt1-show-rules:hover, 
.iwt1-show-rules:active, .iwt1-show-rules:focus{
    height: 34px;
    background-color: #949494;
    border: 3px solid #f4f4f4;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 29px;
    cursor: pointer;
    padding: 0 5px;
    border-radius: 6px;
    margin: 0 auto 39px auto;
    display: block;
    outline: none;
}
.iwt1-show-rules:hover{
    border: 3px solid #8f8f8f;
}
.iwt1-translit-wrapper{
    height: 414px;
    margin: 15px auto 0 auto;
}
.iwt1-close-rules, .iwt1-close-rules:hover{
    background: url(img/icons.png) -500px 0 no-repeat;
    display: block;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 10px;
    right: 10px;
}