@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts-N/bebasneue_bold.eot');
    src: url('fonts-N/bebasneue_bold.eot?#iefix') format('embedded-opentype'), 
         url('fonts-N/bebasneue_bold.woff') format('woff'),
         url('fonts-N/bebasneue_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts-N/bebasneue_regular.eot');
    src: url('fonts-N/bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts-N/bebasneue_regular.woff') format('woff'),
         url('fonts-N/bebasneue_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body, h1, h2, h3, h4, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
font-weight: normal;
color: #666;
font-family: 'Open Sans', sans-serif;
font-weight: 200;
}

img{
	border: 0;
}


body{
	font-family: Arial, Tahoma;
	font-size: 14px;
	color: #222;
}

.wrap{
	width: 940px;
	padding: 0 20px;
	margin: 0 auto;	
}

.header{
	overflow: hidden;
	padding: 17px 0 8px 0;
}

.h-logo{
	float: left;
}

.h-slogan{
	float: left;
	color: #707070;
	padding: 22px 0 0 30px;
	font-size: 13px;
	font-style: italic;
}

.h-tel{
	float: left;
	padding-top: 15px;
	margin-left: 50px;
	font-size: 20px;
}

.h-tel sup{
	font-size: 12px;
}




.passport-top{
	font-family: 'Bebas Neue';
	font-weight: 700;
	text-align: center;
	font-size: 54px;
	color: #232323;
	padding: 55px 0;
}

.passport-top__text{
	font-size: 20px;
	color: #000;
	font-family: 'Open Sans';
	font-weight: 600;
}

.yellow-wrap{
	background: url(img-N/yellow-repeat.jpg) repeat-x 0 0;
}

.yellow{
	height: 629px;
	background: url(img-N/yellow.jpg) no-repeat 50% 0;
	box-shadow: inset 0 12px 10px -10px rgba(0,0,0,0.5);
}


.passport{
	overflow: hidden;
	text-align: center;
	margin-left: -70px;
}

.passport-block{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 50px;
}

.passport-block:first-child{

}

.passport-block_text{
	width: 190px;
	padding-left: 65px;
}

.passport-block_text_1{
	margin-left: 55px;
}

.passport-block_img{
	margin-left: 80px;
}

.passport-inner{
	position: relative;
	margin-top: 40px;
}

.passport-inner:before{
	content:'';
	position: absolute;
	left: -65px;
	top: 0;
	width: 40px;
	height: 52px;
	background: url(img-N/pass-icon.png) no-repeat;
}

.passport-inner_1:before{
	width: 40px;
	height: 53px;
	background-position: -160px 0;
}
.passport-inner_2:before{
	background-position: -110px 0;
}
.passport-inner_3:before{
	background-position: -57px 0;
}
.passport-inner_4:before{
	width: 48px;
	height: 49px;
	background-position: 0 0;
}

.passport-inner__title{
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 18px;
}

.passport-inner__link{
	color: #f44508;
	text-decoration: underline;
	transition: all .2s ease;
}

.passport-inner__link:hover{
	opacity: .7;
	text-decoration: none;
}

.passport-item{
	margin-top: 10px;
}

.passport__list{
	position: relative;
	margin-top: 10px;
	font-family: 'Open Sans';
}

.passport__list:first-child{
	margin: 0;
}

.passport__list-link{
	position: relative;
	font-size: 14px;
	color: #000;
	margin-left: 10px;
	text-decoration: underline;
	transition: all .2s ease;
}

.passport__list-link:hover{
	opacity: .7;
	text-decoration: none;
}

.passport__list-link:before{
	content:'';
	position: absolute;
	top: 5px;
	left: -10px;
	width: 7px;
	height: 10px;
	background: url(img-N/pass-icon.png) no-repeat -101px -11px;
}

.stats{
	position: relative;
	padding: 50px 0;
	z-index: 5;
}

.stats:before{
	content:'';
	position: absolute;
	top: -9px;
	left: 0;
	right: 0;
	height: 10px;
	background: url(img-N/white-vawe.png) repeat-x 0 0;
}

.stats-wrap{
	overflow: hidden;
}

.stats-block{
	float: left;
	width: 32%;
	padding-left: 2%;
	border-left: 1px solid #ddd3b1;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.stats-block:first-child{
	margin-left: 0;
	padding-left: 0;
	border: 0;
}

.stats-block_2{
	width: 34%;
	padding-left: 4%;
}

.stats-block_3{
	width: 30%;
	padding-left: 5%;
}

.stats__img{
	float: left;
	width: 91px;
	margin-right: 20px;
}

.stats__info{
	overflow: hidden;
	font-family: 'Open Sans';
	font-size: 14px;
	color: #4b4a4a;
}

.stats__info-title{
	font-family: 'Bebas Neue';
	font-size: 50px;
	color: #0c0c0c;
	margin-bottom: -5px;
}

.wwdo{
	background: #faf3dc;
	padding: 30px 0 80px;
}

.wwdo__title{
	font-size: 36px;
	color: #000000;
	font-family: 'Open Sans';
	font-weight: 600;
	text-align: center;
}

.wwdo-text{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #4b4a4a;
	line-height: 1.4em;
	text-align: center;
	margin-top: 10px;
}

.wwdo__wrap{
	overflow: hidden;
	margin-top: 50px;
}

.wwdo__block{
	float: left;
	width: 30%;
	margin-left: 5%;
	text-align: center;
}

.wwdo__block:first-child{
	margin-left: 0;
}

.wwdo__img{
	display: block;
	width: 128px;
	margin: 0 auto;
}

.wwdo__text{
	margin-top: 14px;
	font-size: 14px;
	font-family: 'Open Sans';
	color: #000;
	line-height: 1.4em;
}

.wwdo__block-title{
	font-size: 18px;
	color: #000;
	font-weight: 700;
	margin-bottom: 10px;
}

.blue-form-wrap{
	position: relative;
	margin: -15px 0;
	z-index: 9;
	 overflow: hidden;
}

.blue-form-wrap:after{
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: 600px;
	width: 2200px;
	background: url(img-N/blue-repeat.png) repeat-x 0 0;
}

.blue-form-wrap:before{
	content:'';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50%;
	margin-right: 600px;
	width: 2200px;
	background: url(img-N/blue-repeat1.png) repeat-x 100% 0;
}

.blue-form{
	padding: 30px 0 70px;
	height: 220px;
	background: url(img-N/blue-form.png) no-repeat 50% 0;
}

.blue-form__title{
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 36px;
	color: #fff;
	text-align: center;
}

.blue-form__call-now{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #92c7df;
	margin-top: 7px;
	text-align: center;
}

.blue-form__tel{
	font-family: 'Bebas Neue';
	font-size: 40px;
	color: #fff;
	text-align: center;
}

.blue-form__text{
	font-family: 'Open Sans';
	font-size: 16px;
	color: #92c7df;
	text-align: center;
}

.blue-form__wrap{
	width: 770px;
	margin: 30px auto;
}

.blue-form__control {
position: relative;
float: left;
margin-left: 10px;
}

.blue-form__control:first-child{
	margin-left: 0;
}

.blue-form__itext{
	width: 260px;
	height: 46px;
	padding: 0 5px 0 48px;
	border: 0;
	background: #fff;
	font-family: 'Open Sans';
	font-weight: 700;
	font-style: italic;
	color: #bababa;
	font-size: 16px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.blue-form__ibtn{
	width: 210px;
	height: 46px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	background: #f46f33;
	text-shadow: 0 1px 1px rgba(0,0,0,0.27);
	border-bottom: 2px solid #c35929;
	box-shadow: 0 2px 2px 0px rgba(0,0,0,0.3);
	cursor: pointer;
}

.blue-form__icon {
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: 42px;
background: #e5e6e6 url(img-N/form-icon.png) no-repeat 7px 7px;
z-index: 10;
height: 42px;
}

.blue-form__icon_tel{
	background-position: -33px 7px;
}

.blue-form__cols{
	width: 790px;
	margin: 0 auto;
	padding: 10px 0 0;
	overflow: hidden;
	font-family: 'Open Sans';
}

.blue-form__left{
	float: left;
}

.blue-form__cols-title{
	font-weight: 600;
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}

.blue-form__left{
	overflow: hidden;
	text-align: right;
}

.blue-form__right{
	position: relative;
	float: right;
	width: 260px;
}

.blue-form__right:before{
	content:'';
	position: absolute;
	top: -20px;
	bottom: -20px;
	left: -95px;
	width: 1px;
	background: #206584;
	border-right: 1px solid #6db2d1;
}

.blue-form__right .blue-form__wrap{
	width: auto;
	margin: 0;
}

.blue-form__right .blue-form__control{
	margin: 10px 0 0 0;
}

.blue-form__right .blue-form__ibtn{
	width: 260px;
}

.blue-form__left-tel{
	font-size: 23px;
	color: #fff;
}

.blue-form__left-list{
	margin-bottom: 10px;
}

.blue-form__left-list:first-child{
	font-size: 40px;
}

.map{
	position: relative;
	height: 550px;
	background: #ccc;
	z-index: 1;
}

.map-wrap{
	position: relative;
	width: 940px;
	height: 0;
	margin: 0 auto;
	z-index: 9;
}

.map-info__inner{
	position: relative;
	font-family: 'Open Sans';
	background: #fff;
	padding: 10px 30px 30px;
	border: 1px solid #d8caab;
}

.map-info{
	position: absolute;
	top: 80px;
	left: 0;
	width: 340px;
	padding-bottom: 25px;
	background: url(img-N/map-shadow.png) no-repeat 0 100%;
}

.map-info__dot{
	position: absolute;
	height: 4px;
	width: 4px;
	background: #303030;
	border-radius: 50%;
}

.map-info__dot_1{
	left: 1px;
	top: 1px;
}
.map-info__dot_2{
	right: 1px;
	top: 1px;
}
.map-info__dot_3{
	left: 1px;
	bottom: 1px;
}
.map-info__dot_4{
	right: 1px;
	bottom: 1px;
}

.map-info__title{
	font-weight: 600;
	color: #0868c3;
	font-size: 18px;
	margin: 25px 0 3px;
}

.map-info__b{
	margin-bottom: 2px;
	font-size: 14px;
	color: #000;
	font-weight: 600;
}

.map-info__bs{
	font-weight: 400;
}

.notice{
	position: relative;
	padding: 35px 0;
	background: #fff;
	z-index: 5;
}

.notice:before{
	content:'';
	position: absolute;
	top: -3px;
	left: 0;
	right: 0;
	height: 3px;
	background: url(img-N/notice-top.jpg) repeat-x 0 0;
}

.notice-title{
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 700;
	color: #f46f33;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.notice-wrap{
	font-family: 'Open Sans';
	overflow: hidden;
}

.notice-block {
float: left;
width: 30%;
margin-left: 5%;
font-size: 13px;
color: #666666;
}
.notice-block:first-child{
	margin-left: 0;
}

.notice__title {
color: #000;
padding-bottom: 5px;
margin-bottom: 5px;
/* font-style: italic; */
border-bottom: 1px solid #000;
}

.prefooter{
	position: relative;
	margin-top: -5px;
	padding: 30px 0;
	background: url(img-N/prefooter.png) repeat-x 0 0;
	z-index: 6;
}

.prefooter-wrap{
	overflow: hidden;
	font-family: 'Open Sans';
}

.prefooter-block, .prefooter-wrap .widget-area{
	float: left;
	width: 21%;
	margin-left: 5%;
}
.widget-area.s1 {width: 13%;}
.widget-area.s2 {width: 26%;}
.widget-area.s3 {width: 27%;}
.widget-area.s4 {width: 19%;}


.prefooter-block, .prefooter-wrap .widget-area:first-child{
	margin-left: 0;
}

.prefooter__list{
	position: relative;
	margin-top: 10px;
	padding-left: 13px;
}

.prefooter__list:first-child{
	margin-top: 0;
}

.prefooter__list:before{
	content:'';
	position: absolute;
	top: 8px;
	left: 0;
	width: 4px;
	height: 4px;
	background: #fff;
}

.prefooter__link, .widget-area a{
	text-decoration: none;
	color: #ccc;
	font-size: 13px;
}

.prefooter__link, .widget-area a:hover{
	opacity: .7;
	text-decoration: underline;
}

.footer{
	background: #0f0f0f;
	padding: 20px 0;
	text-align: center;
	color: #999;
	font-family: 'Open Sans';
	font-size: 11px;
}

.top-text{
	position: relative;
	margin: 30px 0 36px;
	font-family: 'Open Sans';
}

.top-text__title {
font-size: 32px;
color: #000;
padding-bottom: 14px;
width: 630px;
}

.top-text__link{
	position: absolute;
	top: 12px;
	right: 0;
	font-size: 17px!important;
	text-decoration: underline!important;
	color: #a3a1a1!important;
	padding: 0 0 10px 30px;
	background: url(img-N/top-text.png) no-repeat 0 0;
	transition: all .2s ease;
}

.top-text__link:hover{
	opacity: .7;
	text-decoration: none;
}

.top-text__text{
	color: #000;
	font-size: 14px;
}

.form{
	position: relative;
	font-family: 'Open Sans';
	background: #f2f2f2;
	padding-top: 35px;
}

.form:before{
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	right: 0;
	height: 5px;
	background: url(img-N/inner-form.png) repeat-x 0 0;
}

.form__title{
	color: #000;
	font-size: 32px;
	text-align: center;
}

.form__undertitle{
	color: #ff0000;
	font-size: 16px;
	text-align: center;
}

.form-wrap{
	overflow: hidden;
	padding: 2px;
	margin-top: 20px;
}

.form-col{
	float: left;
	width: 32%;
	margin-left: 2%;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.5);
}

.form-col:first-child{
	margin-left: 0;
}

.form__wrap-img{
	background: #fdd346;
	padding: 30px 0;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

.form-col img{
	display: block;
	margin: 0 auto 20px;
}

.labels{
	overflow: hidden;
	font-size: 11px;
	background: #faf3dc;
	padding: 25px 52px 5px;
}

/*.labels b{
	display: block;
	margin-bottom: 20px;
	font-size: 12px;
}
*/

.labels-wrap{
	position: relative;
}

.labels label{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 10px;
	height: 44px;
	line-height: 44px;
	font-size: 17px;
	color: #000;
	cursor: pointer;
}

.labels .radio{
	position: relative;
	display: block;
	width: 100%;
	padding: 0 10px;
	height: 44px;
	line-height: 44px;
	margin-bottom: 20px;
	background: #fff;
	font-size: 17px;
	color: #000;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.4);
	outline: 2px solid transparent;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: outline .2s ease;
	transition: outline .2s ease;
	cursor: pointer;
}

.labels .radio.checked:before{
	content:'';
	position: absolute;
	top: -8px;
	right: -8px;
	width: 24px;
	height: 24px;
	background: url(img-N/form_ok.png) no-repeat 0 0;
	opacity: 0;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

.labels input[type=radio]{
	display: none;
}

.labels .radio.checked{
	outline: 3px solid #fdc620;
	cursor: default;
}

.labels .radio.checked:before{
	opacity: 1;
}

.labels .radio:hover{
	outline: 3px solid #fdc620;
}

.pass label{
	margin-bottom: 12px;
}

.country img{

}

.country b{
	margin-bottom: 5px;
}

.form__subtitle{
	margin: 50px 0 0;
	text-align: center;
	color: #ff0000;
	font-size: 24px;
}

.form__undersubtitle{
	text-align: center;
	font-size: 16px;
	color: #908e8e;
}

.gray-bg{
	position: relative;
	padding: 30px 0 50px;
	background: #f2f2f2;
	z-index: 7;
}

.gray-bg:before{
	content:'';
	position: absolute;
	left: 50%;
	bottom: -20px;
	margin-left: -30px;
	width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 20px solid #f2f2f2;
}

.reload-table{

}

.reload-table table{
	width: 100%;
	font-size: 16px;
	border: 0;
	border-spacing: 3px;
}

.reload-table td{
	height: 53px;
	background: #fff;
	text-align: center;
}

.tr-top td{
	border-top: 7px solid #000;
}

.tr-top td:first-child{
	border-color: #208d07;
	color: #208d07;
}
.tr-top td+td{
	border-color: #4dba0b;
	color: #4dba0b;
}
.tr-top td+td+td{
	border-color: #afef25;
	color: #afef25;
}
.tr-top td+td+td+td{
	border-color: #fbc508;
	color: #fbc508;
}
.tr-top td+td+td+td+td{
	border-color: #f5960e;
	color: #f5960e;
}
.tr-top td+td+td+td+td+td{
	border-color: #ee7e06;
	color: #ee7e06;
}
.tr-top td+td+td+td+td+td+td{
	border-color: #eb4d08;
	color: #eb4d08;
}
.tr-top td+td+td+td+td+td+td{
	border-color: #bb0821;
	color: #bb0821;
}


.reload-notice{
	text-align: right;
	font-size: 13px;
	color: #908e8e;
	padding: 3px;
}

.orange-call-wrap{
	position: relative;
}

.orange-call{
	position: relative;
	font-family: 'Open Sans';
	padding: 35px 0;
	text-align: center;
	color:  #2779bb;
	font-size: 24px;
	font-weight: 600;
	background: #fbdf6f; /* Old browsers */
	background: -moz-linear-gradient(top,  #fbdf6f 0%, #fdb646 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbdf6f), color-stop(100%,#fdb646)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fbdf6f 0%,#fdb646 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fbdf6f 0%,#fdb646 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fbdf6f 0%,#fdb646 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fbdf6f 0%,#fdb646 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbdf6f', endColorstr='#fdb646',GradientType=0 ); /* IE6-9 */
	z-index: 5;
}

.orange-call-wrap:before{
	content:'';
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	height: 6px;
	background: url(img-N/orange-call.png) repeat-x 0 0;
}

.orange-call__big{
	font-size: 30px;
}

.cols{
	overflow: hidden;
	font-family: 'Open Sans';
	width: 800px;
	margin: 70px auto 0;
}

.col-left{
	float: left;
	width: 50%;
	margin-right: 10%;
}

.col-right{
	float: left;
	width: 40%;
}

.sub-title{
	font-size: 20px;
	color: #000;
	margin-bottom: 20px;
}

.content-item li{
	position: relative;
	margin-bottom: 10px;
	padding-left: 10px;
	color: #000;
	font-size: 13px;
}

.content-item li:before{
	content:'';
	position: absolute;
	top: 6px;
	left: 0;
	background-color:  #000000;
	border-radius: 50%;
	width: 6px;
	height: 6px;
}

.big-notice{
	width: 940px;
	margin: 30px auto;
	padding: 23px;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 13px;
	line-height: 1.6em;
	color: #62523f;
	background: #fef8e8;
	border: 1px solid #facd8b;
}

.big-notice_nob{
	background: transparent;
	border: 0;
	margin: -35px auto 10px;
}

.tabs-wrap{
	font-family: 'Open Sans';
	/* font-size: 16px; */
	margin: 25px 0;
}

.tabs{
	text-align: center;
	border-bottom: 2px solid #c2c1c1;
	font-size: 0;
}

.tabs li{
	position: relative;
	display: inline-block;
	color: #7e7d7d;
	font-size: 16px;
	width: 320px;
	padding: 15px 0px;
	border: 2px solid #c2c1c1;
	border-bottom: 0;
	border-left: 0;
	cursor: pointer;
}

.tabs li:first-child {
border-left: 2px solid #c2c1c1!important;
}
.tabs li:nth-child (3){
border-left: 2px solid #c2c1c1!important;
}

.tabs li:hover{
	color: #30a6d7;
}

.tabs li.tabs-current{
	color: #30a6d7;
	cursor: default;
}

.tabs li.tabs-current:before{
	content:'';
	position: absolute;
	bottom: -2px;
	left: 0;
	right: 0;
	height: 3px;
	background: #fff;
}

.tabs-box{
	display: none;
	width: 860px;
	margin: 0 auto;
	padding: 35px 0;
}

.tabs-box.visible{
	display: block;
}

.tabs__list{
	position: relative;
	padding-left: 10px;
	margin-bottom: 10px;
	/* font-size: 13px; */
	color: #000;
}

.tabs__list:before{
	content:'';
	position: absolute;
	top: 7px;
	left: 0;
	background-color:  #000000;
	border-radius: 50%;
	width: 4px;
	height: 4px;
}

.centercolumn{width:952px; margin:10px auto 0px auto;}
.centercolumn2{background: url(img-N/top_bg_menu.jpg) repeat-x;}

/* =Top
-------------------------------------------------------------- */
#top{height:60px} 
#top ul, #top p, #top a, #top a:visited{color:#666;}
#top ul{list-style-type:none; margin:0px; padding:0px;}
#logo{width:526px; float:left; position:relative}
#logo h1{margin-bottom:2px; font-size:30px;}
.pad-logo{padding:5px 0px 0px 20px;}
#topcontact {
width: 264px;
float: left;
/* text-align: right; */
font-size: 16px;
font-weight: 400;
padding: 0px;
margin-top: 27px;
margin-left: 21px;
}

#topcontact_soc {
float: left;
margin: 23px 0 0 15px;
position: relative;
/* right: 10px; */
}

/* =Menu
-------------------------------------------------------------- */
/* Top menu */
#topmenu{height:73px; clear:both; }
#topmenu a {text-decoration:none}
#topmenu ul{list-style-type:none; margin:0px; padding:23px 0px 0px 0px;}
#topmenu ul li{list-style-type:none; margin:0px; padding:0px 10px 0px 25px; float:left; font-size:18px; font-weight:normal; font-family: Geneva, Arial, Helvetica, sans-serif }
#topmenu ul li a{font-weight:normal !important;}


/* wp3 menu */
.current-menu-ancestor a, current_page_ancestor a, .current_page_item a, .current-menu-item a, .current-page-ancestor a, .current-page-parent a, .current-menu-parent a {
background-image: url(images/arrow1.gif) !important;
background-repeat: no-repeat;
background-position: 0px 4px;
}
#topmenu ul ul.sub-menu li a{background-image:none!important;}
#topmenu ul ul.sub-menu .current_page_item a, #topmenu ul ul.sub-menu .current-menu-item a, 
#topmenu ul.sub-menu ul.sub-menu .current-menu-item a, 
#topmenu ul.sub-menu ul.sub-menu .current_page_item a { background-image:none!important; }
#topmenu ul.sub-menu ul.sub-menu a, #topmenu ul.sub-menu ul.sub-menu a{color:#999!important;}
span.descmenu{display:block; font-size:11px; color:#fff; padding:0px 0px 0px 0px; }
/* wp3 menu end*/
#topmenu #menu-item-53 a {
	padding-left:52px;
	padding-top:15px;
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_white.png) no-repeat;
	height:50px;
}
#topmenu #menu-item-53 a:hover {
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) no-repeat!important;
}
#topmenu #menu-item-53 .current_page_item {
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) no-repeat!important;
}

#menu-item-53.current_page_item  a {background-image:url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) !important; background-repeat:no-repeat; background-position:0px 4px;}

#topmenu #menu-item-53 {
	margin-top:-14px;
}
#topmenu ul li a, #topmenu ul li a:visited{color:#fff; display:block; padding-left:10px; }
ul.acitem .current_page_item a{background-image:none!important;}
ul.acitem .current_page_item ul li a{color:#999!important;}

#topmenu ul li a.active{background-image:url(images/arrow.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul li a:hover{color:#fff; text-decoration:none; background-image:url(images/arrow.gif); background-repeat:no-repeat; background-position:0px 4px;}

#nav{margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; list-style-type:none;  z-index:15; position:relative; }
#nav ul{margin:0px; padding:0px; list-style-type:none; z-index:16; position:relative;}

#nav li{list-style-type:none;  margin:0px 0px 0px 0px; position:relative; font-size:16px;  }
 
ul#nav li li a, ul#nav li li a:visited {color:#fff; }
ul#nav li li a:hover{ background-image:none;color:#bcbcbc }
ul#nav li li:hover{background-color:#bcbcbc !important; color:#F26522}

.breadcrumbs a, .breadcrumbs a:visited {color:#F26522; }
.breadcrumbs a, .breadcrumbs a:hover {color:#F26522; }

#nav li li {
padding:0px 0px;
margin:0px;
background: url(images/nav_sub_bg.jpg);
position:relative;
z-index:150;
border-bottom:solid 1px #808080;
display:block;
width:165px!important;
}





#nav ul {
display:none;
left:30px;
position:absolute;
top:19px;
z-index:150;
border:solid 1px #808080;
border-bottom:0px;
background-color:#f5f5f5;
width:165px!important;
padding:0px 0px;
}

#nav li ul a{
text-align:left;
font-size:12px;
font-weight:normal;
z-index:150;
border:0px;
float:left;
padding-top:8px;
padding-bottom:8px;
display:block !important;
}


#nav ul ul{top:auto; border-top:none; border:solid #ddd; border-width:1px 1px 0px 1px;}	
#nav li ul ul {left:165px; top:-1px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}
#nav li ul a{border-top:none;}
#topmenu ul li a.active{background-image:url(images/arrow.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul li a:hover{color:#ff6600; text-decoration:none; background-image:url(images/arrow1.gif); background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul .current-menu-parent a{
	color:#ff6600; text-decoration:none; background-image:url(images/arrow1.gif)!important; background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul .current-menu-item a, #topmenu ul  .current-page-ancestor a {
	color:#ff6600!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul li ul li a{
	color:#fff!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;
}
#topmenu ul li ul li a:hover{color:#ff6600!important; text-decoration:none;  background-repeat:no-repeat; background-position:0px 4px;}
.other-services {
overflow: hidden;
/* margin-top: 50px; */
}

.other-services .wwdo__block+.wwdo__block+.wwdo__block+.wwdo__block {
	margin-left: 0;
}
.other-services .wwdo__block+.wwdo__block+.wwdo__block+.wwdo__block+.wwdo__block  {
	margin-left: 5%;
}
.big-notice_nob a {
color: #bcbcbc;
}
.big-notice_nob a:hover {
text-decoration: none;
}

.sub-title {
color: #ff501a;
font-size: 22px;
margin-bottom: 20px;
font-weight: bold;
}

.breadcrumbs {
width: 940px;
padding: 0 20px;
margin: 0 auto;
font-family: 'Open Sans', sans-serif;
font-size: 11px;
top: 20px;
position: relative;
}

.breadcrumbs a {
text-decoration:none;
}

.breadcrumbs a:hover {
text-decoration:underline;
}

.top-text a {
text-decoration:none;
color: #21A3D2;
}

.top-text a:hover {
text-decoration:underline;
}

.top-text table, .top-text td, .top-text th{
border:1px solid #bcbcbc;
}
.top-text td{
padding:5px;
}
.top-text ul {
list-style: disc outside;
margin: 0 0 0 19px;
}

.form-col-rf {

width: 40%!important;

}
.form-col-rf:first-child {

margin-left: 70px;
}

.tabs.rfpassp li {
position: relative;
display: inline-block;
color: #7e7d7d;
font-size: 12px;
width: 235px;
padding: 15px 5px;
border: 2px solid #c2c1c1;
border-bottom: 0;
border-left: 0;
cursor: pointer;
}

span.wpcf7-not-valid-tip {
color: #FFE000!important;
width: 260px!important;
}

div.wpcf7-validation-errors {
border: none!important;
display: none!important;
}

div.wpcf7-mail-sent-ok {
border: none!important;
width: 240px;
margin: 0 auto!important;
top: 10px;
position: relative;
color: #fff;
}

#wpcf7-f1847-o1 .wpcf7-mail-sent-ok {

top: -13px!important;

}
.pass_block {
width: 988px;
margin: 0 auto;
}

.pass_block a {
color: #0774be;
}

.pass_block a:hover {
color: #0a7dcb;
text-decoration:none;
}

.pass_anc_link {
height: 110px;
}

.pass_anc_link_doc.old {
height: 160px;
}
.pass_anc_link li {
width: 35%;
float: left;
background: url(img-N/pdf.png) no-repeat;
/* list-style-position: outside; */
padding: 0px 0px 0 50px;
margin: 10px;
}

.pass_anc_link_doc li {
width: 35%;
float: left;
background: url(img-N/doc.png) no-repeat;
/* list-style-position: outside; */
padding: 0px 0px 0 50px;
margin: 10px;
}

.pass_other_link {
clear: both;
margin: 20px 0;
}
.pass_other_link .pencil {
background: url(img-N/pencil.png) no-repeat 10px;
padding: 3px 0px 3px 50px;
margin: 25px 10px;
}

.pass_other_link .question {
background: url(img-N/question.png) no-repeat 7px;
padding: 5px 0px 5px 50px;
margin: 20px 0 70px 10px;
}
.footer__block {
width: 930px;
margin: 0 auto;
height: 28px;
}
.footer__desc {
width: 700px;
margin: 0 40px 0 0;
float: left;
}
.footer__counter {
float: left;
}
img.alignright {
float: right;
margin: 0 0 10px 10px;
}
img.alignleft {
float: left;
margin: 0 10px 10px 0px;
}
.wp-pagenavi {

height: 64px;
}

.top-text .wordico {
	list-style: none;
	margin: 0;
}
.top-text .wordico li {
background: url(http://castour.ru/wp-content/uploads/2014/11/word-icon1.jpg) 0% 55% no-repeat;
padding: 8px 8px 0 40px;
margin: 10px;
}

.p_id_2479 .top-text img {
border: 1px solid rgb(229, 229, 229);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
padding: 2px;
}

#topmess {
color: #ff0000;
font-weight: bold;
/* float: right; */
position: absolute;
margin-left: 262px;
}

#topcontact {
/* text-decoration: line-through; */
}