/* 

Blitz Premium Template - CSS File

USE THIS STYLE SHEET FOR HOMPAGE SLIDESHOW

*/
#slidecontainer{background: url(images/light.png) no-repeat scroll 50% 50%; width:100%; height:286px; position:relative;}
#slide{padding:5px 11px 11px 11px;  }
#slideshow{height:370px; background:transparent; overflow:hidden; }
#slideshow h1{padding:10px 0px 0px 0px; color:#fff;font-size:34px;text-transform: capitalize!important;}
#slideshow p {color:#fff;font-size:14px!important;}
.slideimg{ float:left; width:380px; margin-right:0px;margin-top:50px }
.slidetext{ float:left; width:350px; color:#fff;margin-top: 50px; text-shadow: #535353 1px 1px 0px, #535353 0 0 0.2em;}
.cycle{padding-right:20px; width:800px;background:transparent} 
 
 
#slideshow_navigation a{
background: url(images/button.png) no-repeat scroll 50% 50%;
display:block;
float:left;
font-size:0px;  
width:12px;
height:10px;
margin:1px;
outline-style:none;
outline-width:medium; 
padding:0px; 
text-indent:-9999px;

}
#slideshow_navigation{position:absolute; right:20%; top:245px; z-index:800; cursor:pointer}
#slideshow_navigation .activeSlide {background: url(images/button_selected.png) no-repeat scroll 0% 50%;}
