
 
@font-face {
	font-family: PTSerif;
	src: url(../fonts/PTSerif/PTSerifRegular.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSerif/PTSerifRegular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal
 }
 
@font-face {
	font-family: PTSerif;
	src: url(../fonts/PTSerif/PTSerifBold.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSerif/PTSerifBold.ttf) format('truetype');
	font-weight: 700;
	font-style: normal
 }
 
@font-face {
	font-family: PTSerif;
	src: url(../fonts/PTSerif/PTSerifItalic.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSerif/PTSerifItalic.ttf) format('truetype');
	font-style: italic;
	font-weight: 400
 }
 
@font-face {
	font-family: PTSerifCaption;
	src: url(../fonts/PTSerifCaption/PTSerifCaptionRegular.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSerifCaption/PTSerifCaptionRegular.ttf) format('truetype');
	font-weight: 400
 }
 
@font-face {
	font-family: PTSerifCaption;
	src: url(../fonts/PTSerifCaption/PTSerifCaptionBold.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSerifCaption/PTSerifCaptionBold.ttf) format('truetype');
	font-weight: 700
 }
 
@font-face {
	font-family: PTSans;
	src: url(../fonts/PTSans/PTSansRegular.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSans/PTSansRegular.ttf) format('truetype');
	font-weight: 400
 }
 
@font-face {
	font-family: PTSans;
	src: url(../fonts/PTSans/PTSansBold.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSans/PTSansBold.ttf) format('truetype');
	font-weight: 700
 }
 
@font-face {
	font-family: PTSansCaption;
	src: url(../fonts/PTSansCaption/PTSansCaptionRegular.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSansCaption/PTSansCaptionRegular.ttf) format('truetype');
	font-weight: 400
 }
 
@font-face {
	font-family: PTSansCaption;
	src: url(../fonts/PTSansCaption/PTSansCaptionBold.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSansCaption/PTSansCaptionBold.ttf) format('truetype');
	font-weight: 700
 }
 
@font-face {
	font-family: DIN;
	src: url(../fonts/DIN/DNC57__W.eot);
	src: url(../fonts/DIN/DNC57__W.eot?iefix) format('eot'),url(../fonts/DIN/DNC57__W.woff) format('woff'),url(../fonts/DIN/DNC57__W.ttf) format('truetype'),url(../fonts/DIN/DNC57__W.svg#DINCondensedWeb) format('svg')
 }
 
@font-face {
	font-family: Geometria-Bold;
	src: url(../webfonts/2A7623_0_0.eot);
	src: url(../webfonts/2A7623_0_0.eot?#iefix) format('embedded-opentype'),url(../webfonts/2A7623_0_0.woff) format('woff'),url(../webfonts/2A7623_0_0.ttf) format('truetype')
 }
 
@font-face {
	font-family: Geometria;
	src: url(../webfonts/2A7623_1_0.eot);
	src: url(../webfonts/2A7623_1_0.eot?#iefix) format('embedded-opentype'),url(../webfonts/2A7623_1_0.woff) format('woff'),url(../webfonts/2A7623_1_0.ttf) format('truetype')
 }
 
@font-face {
	font-family: Institut;
	src: url(../webfonts/2A7623_2_0.eot);
	src: url(../webfonts/2A7623_2_0.eot?#iefix) format('embedded-opentype'),url(../webfonts/2A7623_2_0.woff) format('woff'),url(../webfonts/2A7623_2_0.ttf) format('truetype')
 }
 
body,html {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
 }
 
#ig {overflow: hidden}
 
	#ig * {
		position: relative;
		-moz-box-sizing: border-box;
		box-sizing: border-box
	 }
 
	#ig .content {overflow: hidden}
 
		#ig .content a,#ig .content abbr,#ig .content acronym,#ig .content address,#ig .content applet,#ig .content article,#ig .content aside,#ig .content audio,#ig .content b,#ig .content big,#ig .content blockquote,#ig .content canvas,#ig .content caption,#ig .content center,#ig .content cite,#ig .content code,#ig .content dd,#ig .content del,#ig .content details,#ig .content dfn,#ig .content div,#ig .content dl,#ig .content dt,#ig .content em,#ig .content embed,#ig .content fieldset,#ig .content figcaption,#ig .content figure,#ig .content footer,#ig .content form,#ig .content h1,#ig .content h2,#ig .content h3,#ig .content h4,#ig .content h5,#ig .content h6,#ig .content header,#ig .content hgroup,#ig .content i,#ig .content iframe,#ig .content img,#ig .content ins,#ig .content kbd,#ig .content label,#ig .content legend,#ig .content li,#ig .content mark,#ig .content menu,#ig .content nav,#ig .content object,#ig .content ol,#ig .content output,#ig .content p,#ig .content pre,#ig .content q,#ig .content ruby,#ig .content s,#ig .content samp,#ig .content section,#ig .content small,#ig .content span,#ig .content strike,#ig .content strong,#ig .content sub,#ig .content summary,#ig .content sup,#ig .content table,#ig .content tbody,#ig .content td,#ig .content tfoot,#ig .content th,#ig .content thead,#ig .content time,#ig .content tr,#ig .content tt,#ig .content u,#ig .content ul,#ig .content var,#ig .content video {
			margin: 0;
			padding: 0;
			border: 0;
			font: inherit;
			font-size: 100%;
			vertical-align: baseline
		 }
 
		#ig .content article,#ig .content aside,#ig .content details,#ig .content figcaption,#ig .content figure,#ig .content footer,#ig .content header,#ig .content hgroup,#ig .content menu,#ig .content nav,#ig .content section {display: block}
 
		#ig .content ol,#ig .content ul {list-style: none}
 
		#ig .content blockquote,#ig .content q {quotes: none}
 
		#ig .content blockquote:after,#ig .content blockquote:before,#ig .content q:after,#ig .content q:before {content: ''}
 
		#ig .content table {border-collapse: collapse;border-spacing:0}
 
		#ig .content body {
			margin: 0;
			padding: 0;
			line-height: 1;
			background: #fff;
			color: #fff;
			font: 14px PTSans,sans-serif;
			-webkit-font-smoothing: antialiased;
			-webkit-text-size-adjust: 100%
		 }
 
		#ig .content h1,#ig .content h2,#ig .content h3,#ig .content h4,#ig .content h5,#ig .content h6 {font-weight: 700}
 
		#ig .content h1 {font-size: 60px;line-height:1.1}
 
		#ig .content h2 {font-size: 48px;line-height:1.2}
 
		#ig .content h3 {font-size: 36px;line-height:1.3}
 
		#ig .content h4 {font-size: 24px;line-height:1.4}
 
		#ig .content h5 {font-size: 21px;line-height:1.5}
 
		#ig .content h6 {font-size: 18px;line-height:1.6}
 
		#ig .content p {margin: 0 0 20px}
 
		#ig .content em {font-style: italic}
 
		#ig .content strong {font-weight: 700}
 
		#ig .content hr {
			border: solid #ddd;
			border-width: 1px 0 0;
			clear: both;
			margin: 10px 0 30px;
			height: 0
		 }
 
		#ig .content p a,#ig .content p a:visited {line-height: inherit}
 
		#ig .content a {
			color: #333;
			text-decoration: underline;
			outline: 0
		 }
 
			#ig .content a:focus,#ig .content a:hover {color: #000}
 
#ig {
/* position: absolute; */
font-family: PTSans;
left: 0;
top: 0;
color: #949494;
margin: 0 auto;
/* display: block; */
width: 624px;
}

.pass img {
top: -5px;
}
 
	#ig .* {-moz-box-sizing: border-box;box-sizing:border-box}
 
	#ig .content {width: 624px;height:585px}
 
		#ig .content .rules {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			height: 585px
		 }
 
			#ig .content .rules .close {
				width: 40px;
				height: 40px;
				opacity: .5;
				position: absolute;
				right: 20px;
				top: 92px;
				cursor: pointer
			 }
 
			#ig .content .rules .title {
				position: absolute;
				top: 104px;
				left: 40px;
				color: #000;
				font-weight: 700;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				width: inherit
			 }
 
			#ig .content .rules img {top: 80px;left:-2px}
 
			#ig .content .rules .wrapper {
				position: absolute;
				width: 624px;
				height: 585px;
				background-color: #434343;
				opacity: .8;
				top: 0;
				left: 0
			 }
 
				#ig .content .rules .wrapper .closeblock {
					position: absolute;
					top: 0;
					left: 0;
					height: 470px;
					width: inherit;
					background-color: #000;
					opacity: 0
				 }
 
		#ig .content .rulBtn {
			width: 236px;
			height: 34px;
			background-color: #949494;
			border: 3px solid #f4f4f4;
			text-transform: uppercase;
			color: #fff;
			font-size: 12px;
			text-align: center;
			line-height: 29px;
			position: relative;
			cursor: pointer;
			top: 6px;
			left: 200px;
			border-top-left-radius: 6px;
			-webkit-border-top-left-radius: 6px;
			-moz-border-top-left-radius: 6px;
			border-top-right-radius: 6px;
			-webkit-border-top-right-radius: 6px;
			-moz-border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			-webkit-border-bottom-right-radius: 6px;
			-moz-border-bottom-right-radius: 6px;
			border-bottom-left-radius: 6px;
			-webkit-border-bottom-left-radius: 6px;
			-moz-border-bottom-left-radius: 6px
		 }
 
			#ig .content .rulBtn:hover {border: 3px solid #8f8f8f;color:#fff}
 
		#ig .content .pass {
			position: relative;
			width: inherit;
			height: 450px;
			top: 20px;
			color: #333;
			left: -1px
		 }
 
			#ig .content .pass .result {
				position: absolute;
				top: 112px;
				font-size: 12px;
				font-family: PTSansCaption;
				text-transform: uppercase
			 }
 
				#ig .content .pass .result>div {position: absolute}
 
				#ig .content .pass .result .surname {
					top: 0;
					left: 206px;
					width: 300px;
					white-space: nowrap;
					line-height: 15px
				 }
 
				#ig .content .pass .result .tr-name {
					top: 44px;
					left: 206px;
					width: 300px;
					white-space: nowrap;
					line-height: 15px
				 }
 
				#ig .content .pass .result .together {
					top: 236px;
					left: 40px;
					height: 50px;
					font-size: 16px;
					white-space: nowrap
				 }
 
		#ig .content .enterFields {
			font-size: 12px;
			height: 40px;
			position: relative;
			top: 30px;
			left: 20px
		 }
 
			#ig .content .enterFields>div {
				display: inline-block;
				font-family: PTSans!important;
				font-size: 12px
			 }
 
			#ig .content .enterFields .enterBtn {
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				cursor: pointer;
				width: 292px;
				height: 34px;
				top: 2px;
				margin-left: 9px;
				line-height: 12px;
				color: #fff;
				font-size: 12px;
				background-color: #d66267;
				border: 3px solid #f4f4f4;
				border-top-left-radius: 6px;
				-webkit-border-top-left-radius: 6px;
				-moz-border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				-webkit-border-top-right-radius: 6px;
				-moz-border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				-webkit-border-bottom-right-radius: 6px;
				-moz-border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				-webkit-border-bottom-left-radius: 6px;
				-moz-border-bottom-left-radius: 6px
			 }
 
				#ig .content .enterFields .enterBtn:hover {border: 3px solid #d6878d}
 
			#ig .content .enterFields .form-control {
				font-family: PTSans!important;
				font-size: 12px;
				width: 130px;
				height: 34px;
				margin-right: 6px;
				color: #333;
				background-color: #f0f0f0;
				border: 3px solid #f4f4f4;
				border-top-left-radius: 6px;
				-webkit-border-top-left-radius: 6px;
				-moz-border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				-webkit-border-top-right-radius: 6px;
				-moz-border-top-right-radius: 6px;
				border-bottom-right-radius: 6px;
				-webkit-border-bottom-right-radius: 6px;
				-moz-border-bottom-right-radius: 6px;
				border-bottom-left-radius: 6px;
				-webkit-border-bottom-left-radius: 6px;
				-moz-border-bottom-left-radius: 6px
			 }
 
		#ig .content .header {
			font-family: PTSansCaption;
			color: #231f20;
			line-height: 14px;
			font-size: 16px;
			position: relative;
			left: 20px;
			top: 20px
		 }
 
		#ig .content .credits {
			position: absolute;
			bottom: 26px;
			left: 20px;
			color: test-c
		 }
 
			#ig .content .credits .design {font-size: 10px}
 
			#ig .content .credits .logo {margin-left: 400px}
 
			#ig .content .credits div {display: inline-block}
 
@-moz-document url-prefix() {#ig .content .rulBtn}
 
.enterBtn {padding-bottom: 3px}
 
{}
 
	.btn-default {line-height: 10px}
 
input,textarea {color: #000}
 
.form-control::-webkit-input-placeholder {color: #333}
 
.form-control:-moz-placeholder {color: #000}
 
.form-control::-moz-placeholder {color: #000}
 
.form-control:-ms-input-placeholder {color: #000}
 
html #browsehappy,html.desktop-device .debug-panel {display: none}
 
html.no-canvas #browsehappy,html.no-svg #browsehappy {display: block}
 
html.canvas #browsehappy,html.no-canvas #ig,html.no-svg #ig,html.svg #browsehappy {display: none}
 
html.canvas #ig,html.svg #ig {display: block}

input.form-control.inSecName {
display: none;
}