

.calculator_form ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; 
}

.calculator_form ul.left-menu li a:hover
{
	color:#BC262C;
}

 

.calculator_form ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}

.calculator_form ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url('/bitrix/templates/visa_for_you/components/bitrix/menu/footer/images/left_menu_bg.gif') top repeat-x;
}

.calculator_form ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

.calculator_form ul.left-menu li a:visited
{
	color:#BC262C;
}

.calculator_form ul.left-menu li a:hover
{
	color:#BC262C;
}


.calculator_form ul.left-menu li a.selected:link, 
.calculator_form ul.left-menu li a.selected:visited, 
.calculator_form ul.left-menu li a.selected:active, 
.calculator_form ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}









.calculator_form img {
border-bottom-style: none;
border-bottom-width: 0px;
border-left-style: none;
border-left-width: 0px;
border-right-style: none;
border-right-width: 0px;
border-top-style: none;
border-top-width: 0px; }
.calculator_form .menu-top a:hover {
text-decoration:underline;}
.calculator_form .menu-top a.active:hover {
text-decoration:none;}
.calculator_form .block-country a:hover {
text-decoration:underline;}
.calculator_form .news a:hover {
text-decoration:none;
border-bottom: 1px #155806 dashed;
background: url(/upload/medialibrary/f90/t5.png) no-repeat;
padding-left: 20px;
}
.calculator_form .all-news a:hover {
text-decoration:none;
background: url(/upload/medialibrary/fd7/t3.png) no-repeat;
padding-left: 20px;
}	
.calculator_form .blochok h3 span a:hover {
color:#79cd65;
text-decoration: none;
border-bottom: 2px #FFFFFF dashed;}
.calculator_form .blochok li a:hover 
{
text-decoration:none;
border-bottom: 1px #79cd65 solid;
}
.calculator_form .footer-menu a:hover {
text-decoration:none;}
.made a:hover {
text-decoration:none;}
h2 {
font-family: Georgia, "Times New Roman", Times, serif;

margin-bottom: 15px;
font-weight: normal;
margin-top: 15px;
}
.price-schedule tr:hover td{
background: #f2f2f2;
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#F0F07B));
background: -moz-linear-gradient(top, #f2f2f2, #F0F07B); 
}

.simple-little-table a:hover {
color: #bd5a35;
text-decoration:underline;
}
.calculator_form div {text-align: justify; font-family: Arial, Helvetica, sans-serif; font-size: 15px; }
tbody { display: table-row-group; vertical-align: middle; border-color: inherit;}
.calculator_form .table-4you td:nowrap
{
white-space: nowrap;
}
.calculator_form #content .tb4 td:hover {
background: #FFFFFF; padding: 15px; border-radius: 15px; box-shadow: 3px 3px 30px rgba(14, 14, 14, 0.39);
}
.calculator_form #content .tb5 td:hover {
background: #FFFFFF; padding: 15px; border-radius: 15px; border: 1px #ccc solid; box-shadow: 2px 3px 30px rgba(0,0,0,0.2);
}
.help:hover span {
margin-left: 0;
width: 450px;
z-index: 1000;
top:30px;
left:20px;
}
.price-schedule2 tr:hover td{
background: #f2f2f2;
background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#F0F07B));
background: -moz-linear-gradient(top, #f2f2f2, #F0F07B); 
}

.simple-little-table a:hover {
color: #bd5a35;
text-decoration:underline;
}
.color1:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(rgba(231, 84, 128, 0.69)));
background: -moz-linear-gradient(top, #ededed, rgba(231, 84, 128, 0.69));
}
.color2:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(rgba(66, 170, 255, 0.6)));
background: -moz-linear-gradient(top, #ededed, rgba(66, 170, 255, 0.6));
}
.color3:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(rgba(119, 221, 119, 0.61)));
background: -moz-linear-gradient(top, #ededed, rgba(119, 221, 119, 0.61));
}
.color4:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(rgba(244, 196, 48, 0.6)));
background: -moz-linear-gradient(top, #ededed, rgba(244, 196, 48, 0.6));
}
.color5:hover {
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(rgba(218, 112, 214, 0.67)));
background: -moz-linear-gradient(top, #ededed, rgba(218, 112, 214, 0.67));
}
#guest-style tbody tr:hover td{
background:#d0dafd repeat-x;
color:#339;}
.aus a:hover {
text-decoration: none;
color: #3F802B;
}
.es a:hover {
text-decoration: none;
color: #3F802B;
}
.sw a:hover {
text-decoration: none;
color: #3F802B;
}
.cz a:hover {
text-decoration: none;
color: #3F802B;
}
.fr a:hover {
text-decoration: none;
color: #3F802B;
}
.fin a:hover {
text-decoration: none;
color: #3F802B;
}
.sl a:hover {
text-decoration: none;
color: #3F802B;
}
.por a:hover {
text-decoration: none;
color: #3F802B;
}
.poll a:hover {
text-decoration: none;
color: #3F802B;
}
.nor a:hover {
text-decoration: none;
color: #3F802B;
}
.lit a:hover {
text-decoration: none;
color: #3F802B;
}
.kip a:hover {
text-decoration: none;
color: #3F802B;
}
.mal a:hover {
text-decoration: none;
color: #3F802B;
}
.uae a:hover {
text-decoration: none;
color: #3F802B;
}
.singapore a:hover {
text-decoration: none;
color: #3F802B;
}
.india a:hover {
text-decoration: none;
color: #3F802B;
}
.usa a:hover {
text-decoration: none;
color: #3F802B;
}
.romania a:hover {
text-decoration: none;
color: #3F802B;
}
.denmark-quickly a:hover {
text-decoration: none;
color: #3F802B;
}
.britain a:hover {
text-decoration: none;
color: #3F802B;
}
.china a:hover {
text-decoration: none;
color: #3F802B;
}
.lat a:hover {
text-decoration: none;
color: #3F802B;
}
.ita a:hover {
text-decoration: none;
color: #3F802B;
}
.sp a:hover {
text-decoration: none;
color: #3F802B;
}
.gr a:hover {
text-decoration: none;
color: #3F802B;
}
.goll a:hover {
text-decoration: none;
color: #3F802B;
}
.ger a:hover {
text-decoration: none;
color: #3F802B;
}
.hun a:hover {
text-decoration: none;
color: #3F802B;
}
.bul a:hover {
text-decoration: none;
color: #3F802B;
}
.swit a:hover {
text-decoration: none;
color: #3F802B;
}
.bel a:hover {
text-decoration: none;
color: #3F802B;
}
div.sr1 a:hover {font-size: 16px; color: #1c5b0d; border-bottom: 1px #1c5b0d solid;}
div.sr2 a:hover {font-size: 16px; color: #1c5b0d; border-bottom: 1px #1c5b0d solid;}
div.sr3 a:hover {font-size: 16px; color: #1c5b0d; border-bottom: 1px #1c5b0d solid;}
div.sr4 a:hover {font-size: 16px; color: #1c5b0d; border-bottom: 1px #1c5b0d solid;}
div.sr5 a:hover {font-size: 16px; color: #1c5b0d; border-bottom: 1px #1c5b0d solid;}
.action:hover {
text-decoration: none;
color: #000;
border-bottom: 1px #000 solid;
}
.block-calculator:hover {
position: relative;
padding: 10px 3px 11px 3px;
margin: 15px 0 0 0;
width: 234px;
border: 1px solid #e7e3c6;
background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 255, 115, 0)), to(rgba(105, 195, 75, 0.8)));
background: -moz-linear-gradient(top, rgba(249, 255, 115, 0), rgba(105, 195, 75, 0.8));
background-color: #fff;
border-radius: 8px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
-khtml-border-radius: 8px;
behavior: url(/bitrix/templates/visa_for_you/PIE.htc);
-webkit-box-shadow: 2px 3px 3px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
box-shadow: 2px 3px 17px rgba(0,0,0,0.2);
}
.calculator-top:hover {
padding: 13px;
background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(rgba(20, 175, 45, 0.57)));
background: -moz-linear-gradient(top, #FAFAFA, rgba(20, 175, 45, 0.57));
text-align: center;
font-size: 22px;
font-family: Georgia;
border-radius: 4px;
margin-top: 15px;
margin-bottom: 15px;
color: #000000;
}
span.samost11:hover {
background: rgba(229, 248, 22, 1);
}
.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}UNUSED.ui-widget input,UNUSED.ui-widget select,UNUSED.ui-widget textarea,UNUSED.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #aaa;background:#fff url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_flat_75_ffffff_40x100-60b7c9dbf7cd55cab7f9e813a4be021b.png) 50% 50% repeat-x;color:#222}.ui-widget-content a{color:#222}.ui-widget-header{border:1px solid #aaa;background:#ccc url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_highlight-soft_75_cccccc_1x100-17403a9b4ea434620bf83615a1981746.png) 50% 50% repeat-x;color:#222;font-weight:bold}.ui-widget-header a{color:#222}.ui-state-default,.ui-widget-content .ui-state-default,UNUSED.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_glass_75_e6e6e6_1x400-1eaf2f153740bebf045a59dc93450969.png) 50% 50% repeat-x;font-weight:normal;color:#555}UNUSED.ui-state-default a,UNUSED.ui-state-default a:link,UNUSED.ui-state-default a:visited{color:#555;text-decoration:none}UNUSED.ui-state-hover,UNUSED.ui-widget-content .ui-state-hover,UNUSED.ui-widget-header .ui-state-hover,UNUSED.ui-state-focus,UNUSED.ui-widget-content .ui-state-focus,UNUSED.ui-widget-header .ui-state-focus{border:1px solid #999;background:#dadada url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_glass_75_dadada_1x400-bf15e1c3b6aaed50c5e0b627bc889e76.png) 50% 50% repeat-x;font-weight:normal;color:#212121}UNUSED.ui-state-hover a,.ui-state-hover a:hover,UNUSED.ui-state-hover a:link,UNUSED.ui-state-hover a:visited{color:#212121;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,UNUSED.ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fff url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_glass_65_ffffff_1x400-c57b9d77de6dfa2c981b43eb384ffdf0.png) 50% 50% repeat-x;font-weight:normal;color:#212121}UNUSED.ui-state-active a,UNUSED.ui-state-active a:link,UNUSED.ui-state-active a:visited{color:#212121;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,UNUSED.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_glass_55_fbf9ee_1x400-18615e8a3c98079bd548973d4c0a3899.png) 50% 50% repeat-x;color:#363636}UNUSED.ui-state-highlight a,UNUSED.ui-widget-content .ui-state-highlight a,UNUSED.ui-widget-header .ui-state-highlight a{color:#363636}UNUSED.ui-state-error,UNUSED.ui-widget-content .ui-state-error,UNUSED.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(http://search.aviasales.ru/assets/jquery-ui/ui-bg_glass_95_fef1ec_1x400-d96565dbcc69e78ee21861c381aa67be.png) 50% 50% repeat-x;color:#cd0a0a}UNUSED.ui-state-error a,UNUSED.ui-widget-content .ui-state-error a,UNUSED.ui-widget-header .ui-state-error a{color:#cd0a0a}UNUSED.ui-state-error-text,UNUSED.ui-widget-content .ui-state-error-text,UNUSED.ui-widget-header .ui-state-error-text{color:#cd0a0a}UNUSED.ui-priority-primary,UNUSED.ui-widget-content .ui-priority-primary,UNUSED.ui-widget-header .ui-priority-primary{font-weight:bold}UNUSED.ui-priority-secondary,UNUSED.ui-widget-content .ui-priority-secondary,UNUSED.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,UNUSED.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url(http://search.aviasales.ru/assets/jquery-ui/ui-icons_222222_256x240-0a248434a1f9ccb75706a8dd46555433.png)}.ui-widget-header .ui-icon{background-image:url(http://search.aviasales.ru/assets/jquery-ui/ui-icons_222222_256x240-0a248434a1f9ccb75706a8dd46555433.png)}UNUSED.ui-state-hover .ui-icon,UNUSED.ui-state-focus .ui-icon{background-image:url(/assets/jquery-ui/ui-icons_454545_256x240-2672c0ab6d1bd854dc3a7f3fc7255977.png)}UNUSED.ui-state-error .ui-icon,UNUSED.ui-state-error-text .ui-icon{background-image:url(http://search.aviasales.ru/assets/jquery-ui/ui-icons_cd0a0a_256x240-6caffe0e1a303fa39428ffcfbedbd6bd.png)}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}
 

.ui-widget {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	background: #f46f33;
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	opacity:1;
}


 .calc_body{width:50%; float:left;}
.calc_body div{
margin-top:20px;
}
 .calculator_form{display: inline-block;padding:20px;}
.calculator_form input[type="text"], input[type="search"] {float: none;}
.calculator_form input#TxtField {width: 200px;}
input.from_date {margin: 2px 3px;}
input.to_date {margin: 2px 3px;}
input.all_days {margin: 2px 3px;width:50px !important;background: white;}
input.random_date {margin: 2px 3px;}
.calculator_form input[type="text"] {
width: 100px;
height: 28px;
padding: 0 10px;
border-top: solid 1px #d4d4d4;
border-right: solid 1px #efefef;
border-bottom: solid 1px #d7d7d7;
border-left: solid 1px #efefef;
border:0;
font: 14px/27px  Arial, Helvetica, sans-serif;
color: #a7a7a7;
}
.calc_input{
width:400px; float:right;
}
.calc_input input{
margin-top:5px;
}
span.label_in_passport {
border-bottom: 1px #000 dashed;
}
.result {display: block;
padding: 8px 42px 14px!important;

line-height: 16px!important;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
line-height:20px;}
.mode_control{float:left;margin-top:0px !important;display:none;}
.mode_control.second{margin-left:8px; background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(176, 195, 75, 0.46))); border-radius: 5px; padding: 10px;}
div.mode_control {background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(176, 195, 75, 0.46))); border-radius: 5px; padding: 10px; font-family: Georgia;}
.calc_btn {
height: 25px;
background: #309B67;
text-align: center;
font: 16px/17px Arial, Helvetica, sans-serif;
color: #FFFFFF;
text-shadow: 0 1px 1px #093142;
border:none;
width:150px;
cursor:pointer;
text-decoration: none;
border-radius: 3px;}

.stays {color:#aaa;}
.label_in {display: inline-block; margin: 0 0 0px 10px; background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(247, 231, 51, 1))); text-align: center; padding: 5px; font-family: Georgia; font-size: 16px; border-radius: 3px; border: 1px #ccc solid; box-shadow: 2px 3px 30px rgba(0,0,0,0.2);}
.label_out {margin: 0 0 0px 40px;display: inline-block; background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(rgba(195, 75, 75, 0.8))); text-align: center; padding: 5px; font-family: Georgia; font-size: 16px; border-radius: 3px; border: 1px #ccc solid; box-shadow: 2px 3px 30px rgba(0,0,0,0.2);}
.passport_way {
color: black;
cursor: pointer;}
.callback_wrap a:hover {border-bottom: 2px #FFF solid;}

 

.result_text {
margin-right: 60px;
padding: 75px 54px;
text-align: left;
font-weight: bold;
font-size: 18px;
}
.result_text a {
text-decoration: underline;
}
