/*  
Theme Name: Blitz3
Theme URI: http://www.templatesquare.com/
Description: Blitz is a premium business wordpress theme that suitable for business, company, corporate and portfolio.
Version: 3.0
Author: templatesquare
Author URI: http://www.templatesquare.com/
Tags: theme-options, widget-ready, right-sidebar, blue
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

blockquote {
	margin:.5em 5px !important;
	padding:.5em 10px !important;
	background-image:url(images/quote.gif);
	background-repeat:no-repeat;
	background-position:left top;
}
blockquote p {
	display:inline;
}
#sideright blockquote{margin-right:0 !important; padding-right:0 !important; background-image:none}

blockquote.alignleft, blockquote.alignright  {
	float:right;
	letter-spacing:0px;
	line-height:20px;
	margin-bottom:20px;
	margin-left:0px;
	margin-top:5px;
	padding:5px 0 0 20px;
	width:53%;
}
blockquote.alignleft{
	float:left;
	margin-left:0px;
	margin-right:20px;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#top_container{ background-image:url(images/bg_top.jpg); background-repeat:repeat-x; background-position:top}
#top_container_inner{ background-image:url(images/inner.jpg); background-repeat:repeat-x; background-position:top}
#bottom_container{ background-image:url(images/bg_f.jpg); background-repeat:repeat-x; background-color:#efefef; min-height:229px;}
#footer_container{ background-image:url(images/bg_container_footer.gif); background-repeat:repeat-x; background-color:#333333; min-height:35px;}
.centercolumn{width:952px; margin:10px auto 0px auto;}
#content{float:left; width:600px; padding-right:40px;}
#content.contentfull{float:none; width:auto; padding:0px;}
#sideright{float:left; width:252px; padding:0px 0px 0px 20px;  background-image:url(images/line_separator.gif); background-repeat:no-repeat; background-position:left top;color:#8a8989; }
/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
html,body{height:100%}
body,
input,
textarea {
	font-family: 'Open Sans', sans-serif;
	font-size:11px;
	color:#333;
	line-height:20px;
}




hr {
	border-width:0;
	height:1px;
	line-height:0;
	margin:30px 0px;
	page-break-after:always;
	text-align:center;
	width:100%;
	clear:both;
	color:#e0e0e0;
	background-color:#e0e0e0;
}

/* Text elements */
p {
	margin-bottom: 18px;
	font-size:14px;
	line-height:18px
}
ul {
	list-style: square;
	_margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #ffffff;
	border:solid 1px #ddd;
}
a:link {
	color:#0099cc;
	text-decoration:none;
}
a:visited {
	color:#0099cc;
	text-decoration:none;
}
a:active,
a:hover {
	color:#f26522;
	text-decoration:none;
}

.clr {
	clear: both;
}

/* heading */
h1, h2{margin-bottom:15px; }
h3, h4, h5, h6{margin-bottom:8px;}
h1 {font-size:22px; line-height:24px;}

h2 {font-size:18px; line-height:20px;}
h3 {font-size:16px; line-height:18px;}
h4 {font-size:14px; line-height:18px;}
h5, h6 {font-size:13px; line-height:15px;}

h1, h2, h3, h4, h5, h6 {font-weight:normal; color:#666; font-family: 'Open Sans', sans-serif;font-weight: 200}
#content h1 {font-weight: 800;color:#000;margin-top:15px!important}


.news-txt h2 {font-size:14px!important;font-weight: 800!important;} 
.news-txt .postdate {font-size:14px!important;}  
/* Text meant only for screen readers */
.screen-reader-text { 
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

/* =slider
-------------------------------------------------------------- */
#slides_container{background-image:url(images/bg_shadow_slider.gif); background-repeat:no-repeat; background-position:bottom; }


/* =Top
-------------------------------------------------------------- */
#top{height:60px} 
#top ul, #top p, #top a, #top a:visited{color:#666;}
#top ul{list-style-type:none; margin:0px; padding:0px;}
#logo{width:526px; float:left; position:relative}
#logo h1{margin-bottom:2px; font-size:30px;}
.pad-logo{padding:5px 0px 0px 20px;}
#topcontact{width:326px; float:right; text-align:right; font-size:16px; font-weight:400; padding:0px;margin-top:27px;margin-right:93px}



/* =Menu
-------------------------------------------------------------- */
/* Top menu */
#topmenu{height:73px; clear:both; }

#topmenu ul{list-style-type:none; margin:0px; padding:23px 0px 0px 0px;}
#topmenu ul li{list-style-type:none; margin:0px; padding:0px 10px 0px 25px; float:left; font-size:18px; font-weight:normal; font-family: Geneva, Arial, Helvetica, sans-serif }
#topmenu ul li a{font-weight:normal !important;}


/* wp3 menu */
.current-menu-ancestor a, current_page_ancestor a, .current_page_item a, .current-menu-item a, .current-page-parent a, 
.current-menu-parent a{background-image:url(images/arrow.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul ul.sub-menu li a{background-image:none!important;}
#topmenu ul ul.sub-menu .current_page_item a, #topmenu ul ul.sub-menu .current-menu-item a, 
#topmenu ul.sub-menu ul.sub-menu .current-menu-item a, 
#topmenu ul.sub-menu ul.sub-menu .current_page_item a { background-image:none!important; }
#topmenu ul.sub-menu ul.sub-menu a, #topmenu ul.sub-menu ul.sub-menu a{color:#999!important;}
span.descmenu{display:block; font-size:11px; color:#fff; padding:0px 0px 0px 0px; }
/* wp3 menu end*/
#topmenu #menu-item-53 a {
	padding-left:52px;
	padding-top:15px;
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_white.png) no-repeat;
	height:50px;
}
#topmenu #menu-item-53 a:hover {
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) no-repeat!important;
}
#topmenu #menu-item-53 .current_page_item {
	background: url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) no-repeat!important;
}

#menu-item-53.current_page_item  a {background-image:url(http://castour.ru/wp-content/uploads/2013/02/call_red.png) !important; background-repeat:no-repeat; background-position:0px 4px;}

#topmenu #menu-item-53 {
	margin-top:-14px;
}
#topmenu ul li a, #topmenu ul li a:visited{color:#fff; display:block; padding-left:10px; }
ul.acitem .current_page_item a{background-image:none!important;}
ul.acitem .current_page_item ul li a{color:#999!important;}

#topmenu ul li a.active{background-image:url(images/arrow.gif) !important; background-repeat:no-repeat; background-position:0px 4px;}
#topmenu ul li a:hover{color:#fff; text-decoration:none; background-image:url(images/arrow.gif); background-repeat:no-repeat; background-position:0px 4px;}

#nav{margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; list-style-type:none;  z-index:15; position:relative; }
#nav ul{margin:0px; padding:0px; list-style-type:none; z-index:16; position:relative;}

#nav li{list-style-type:none;  margin:0px 0px 0px 0px; position:relative; font-size:16px;  }
 
ul#nav li li a, ul#nav li li a:visited {color:#fff; }
ul#nav li li a:hover{ background-image:none;color:#bcbcbc }
ul#nav li li:hover{background-color:#bcbcbc !important; color:#F26522}

.breadcrumbs a, .breadcrumbs a:visited {color:#F26522; }
.breadcrumbs a, .breadcrumbs a:hover {color:#F26522; }

#nav li li {
padding:0px 0px;
margin:0px;
background: url(images/nav_sub_bg.jpg);
position:relative;
z-index:150;
border-bottom:solid 1px #808080;
display:block;
width:165px!important;
}





#nav ul {
display:none;
left:30px;
position:absolute;
top:19px;
z-index:150;
border:solid 1px #808080;
border-bottom:0px;
background-color:#f5f5f5;
width:165px!important;
padding:0px 0px;
}

#nav li ul a{
text-align:left;
font-size:12px;
font-weight:normal;
z-index:150;
border:0px;
float:left;
padding-top:8px;
padding-bottom:8px;
display:block !important;
}


#nav ul ul{top:auto; border-top:none; border:solid #ddd; border-width:1px 1px 0px 1px;}	
#nav li ul ul {left:165px; top:-1px;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul{display:none;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul{display:block;}
#nav li ul a{border-top:none;}

/* =Content
-------------------------------------------------------------- */
#maincontent{padding:30px 0px 0px 0px; margin-top: 70px}
#top_container_inner #maincontent{padding:10px 0px 0px 0px; margin-top: 0px}
#box_container{margin-bottom:30px; width:952px; float:left;}
.box{float:left; width:260px;}
.box.nomargin{}
.line_separator{ background-image:url(images/line_separator.gif); background-repeat:no-repeat;background-position:right; min-height:200px;}
* html .line_separator{height:200px;}/* ie6 only*/
.tagline{font-size:18px; line-height:24px; font-style:italic; color:#898686; clear:both}
input#s{border:solid 1px #edecec; padding:2px; color:#999 !important}

.single-attachment #content{width:878px; float:none; padding:0px}
#content {
	margin-bottom: 36px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 20px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	letter-spacing:1px;
	margin:25px 0 25px 0px;
	display:block;
	font-size:11px;
	border-left:4px solid #dddddd;
	padding:15px 10px;
}
#content dt,
#content th {
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	line-height: 1.5em;
	margin: 0 0 10px 0;
}
#content table {
	_border: 1px solid #fff;
	_margin: 0 -1px 24px 0;
	text-align: left;
	width: 100%;
}
#content #output table {
	_border: 1px solid #fff;
	margin: 0 -1px 0px 0;
	text-align: left;
	width: 100%;
}

#content tr th,
#content thead th {
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	_border-top: 1px solid #fff;
	padding: 6px 4px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 10px 0;
}
#searchresult .hentry {
	margin: 0 0 20px 0;
}

.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
}
#content .entry-title {
	color: #666;
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #666;
	text-decoration: none;
}
.entry-meta {
	font-size: 11px;
	color:#333;
	padding-bottom:10px
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content{
	clear: both;
	padding: 0px 0 0 0;
	font-size: 14px; 
}
.entry-summary {
	clear: both;
	padding: 10px 0 0 0;
}

#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e0e0e0;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 0px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 0px;
}
.entry-content label {
	font-size: 11px;
}
.entry-content select {
	margin: 0 0 0px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.page-link {
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #fff;
	border: 1px solid #ddd;
	clear: both;
	font-size: 11px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e0e0e0;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	text-decoration:none;
	/*color:#333;*/
}
.entry-meta a:hover,
.entry-utility a:hover {
	text-decoration:underline;
}
#content .video-player {
	padding: 0;
}

a.more-link, a.more-link:visited{color:#333;}
a.more-link:hover{color:#333; text-decoration:underline}
/* News */
.box-news{ clear:both; position:relative}
.box-news h2, .box-news h2 a{ margin-bottom:0px !important; font-size:16px; color:#666}
.box-news h2 a, .box-news h2 a:visited{text-decoration:none}
.box-news img{margin:8px 0px 0px 0px !important; width:72px !important ; height:72px !important ; position:absolute; left:0;}
.box-news .news-txt{ float:left; width:auto; margin-left:90px }
.box-news .postdate{ text-align:left; padding:0px 0px 10px 0px; display:block }
/* portfolio */
.pf_image{width:280px; margin-top:8px; float:left; margin-right:30px; margin-bottom:20px}
.pf_image img{padding:5px; border:solid 1px #e0e0e0;}
.pf_desc{float:left; width:330px}
.pf_desc h2{margin:0px 0px 10px 0px;}
.pf_desc h2 a, .pf_desc h2 a:visited{color:#666; text-decoration:none !important;}



/* =Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	height: auto;
	max-width: 640px;
	width: auto;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	padding:5px;
	border:solid 1px #e0e0e0;
}
.border{border:1px solid #e0e0e0;}
img.alignleft{float:left; margin-right:24px;}
img.alignright{float:right; margin-left:24px;}
img.aligncenter, img.alignnone { float:none;}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	padding: 4px;
	text-align: center;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	font-size: 11px;
	margin: 5px;
}
#content .wp-smiley {
	margin: 0;
}
#content .gallery {
	margin: 0 auto 18px;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	font-size: 11px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	font-size: 11px;
	line-height: 18px;
}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: 0px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 18px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 18px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 8px 20px 2px 70px;
	position: relative;
	background-color:#fff;
	border:solid 1px #ddd;
}
.commentlist li:last-child {
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 12px;
	left: 20px;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 11px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 11px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
}
.reply a:hover,
a.comment-edit-link:hover {
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 11px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
	
	
	
}
#commentform input{padding:3px 3px; line-height:normal}
#respond {
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 11px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	font-size: 11px;
}
#respond input {
	margin:0px;
	width: 98%;
	margin-bottom:8px
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	font-size: 11px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */
#sideright .textwidget{font-size:11px; padding:0px 0px 0px 0px}
#sideright h2{text-align:right; color:#f26522; margin-bottom:5px}
#sideright ul{text-align:right; list-style-type:none; margin:0px; padding:0px;}
#sideright ul li{text-align:right; list-style-type:none; margin:0px 0px 30px 0px; padding:2px 0px; font-size:14px; font-family: 'Open Sans', sans-serif; }
#bottombox_container #sideright ul li{text-align:left; list-style-type:none; margin:0px 0px 30px 0px; padding:2px 0px; font-size:14px; font-family: 'Open Sans', sans-serif; }
#sideright ul li li{margin:0px;}
#sideright ul li a, #sideright ul li a:visited{color:#8a8989; text-decoration:none; }
#sideright ul li a:hover{text-decoration:none; color:#f26522}
#sideright #searchform {margin:0;padding:0;text-align:right;}

#sideright ul li .current_page_item a, .bottombox ul li .current_page_item a{background-image:none!important;}

.widget-area ul {
	list-style: none;
	margin:0px 0px 35px 0px;
}
.widget-area ul ul {
	margin:0px;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin:0;
}
.widget-title {
	margin-bottom:12px;
	
}

.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
	border:solid 1px;
}
#wp-calendar caption {
	font-size: 16px;
	font-weight: normal;
	padding-bottom:10px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	border: 0px;
	padding: 3px 0 2px;
	text-align: center;
	color:#666;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
#today{font-weight:bold;}
#wp-calendar a, #wp-calendar a:visited{text-decoration:underline !important;}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */

/* Footer widget areas */
#footer-widget-area {
}


/* =Footer
-------------------------------------------------------------- */
#bottom_container{ padding:25px 0px 30px 0px;}
#bottombox_container{float:left; width:952px;}
#bottombox_container h2 {color:#f26522}
#bottombox_container h2 a {color:#f26522!important} 
.bottombox{float:left; width:260px;}
.bottombox{margin-left:85px;}
.bottombox.nomargin{margin-left:0px;}
#bottom_container h2{margin-bottom:10px;}
#bottom_container ul{margin:0px; padding:0px; list-style-type:none;}
#bottom_container ul li{margin:0px 0px 30px 0px; padding:0px; list-style-type:none;}
#bottom_container ul li li{margin:0px; padding:0px 0px 6px 0px; margin-bottom:6px; list-style-type:none; border-bottom:solid 1px #b3b1b1;}
#bottom_container ul li li li{border:0px; margin:0px; padding-left:20px}
#bottom_container ul li a, #bottom_container ul li a:visited{color:#333;}
#bottom_container ul li a:hover{color:#7f7e7e;}
#bottom_container ul.flickr li{display:inline; float:left; border:none; padding:0px 15px 15px 15px;}
#bottom_container ul.flickr li.nomargin{padding:0px 15px 15px 0px;}
#footer_container{clear:both;}
#footer_container a, #footer_container a:visited{color:#898686;}
#foot{text-align:center; padding:10px 0px 0px 0px; font-size:11px; font-family: 'Open Sans', sans-serif; color:#898686}

/* Dropcaps */

.lettercap, .dropcap{
	display:block;
	float:left;
	font-size:36px;
	line-height:36px;
	margin:0px 8px 0 0;}


.bk-right{ float:right; width:30%; margin-left:20px;}
.bk-left{ float:left; width:30%;}

/* Highlight */

.highlight1{padding:1px 4px;background-color:yellow;color:#111;}	
.highlight2{padding:1px 4px;background-color:#111;color:#eee;}	

/* column */
.one_half{ width:48%; }
.one_third{ width:30.66%; }
.one_fourth{width:22%; }
.one_half,.one_third,.one_fourth{ position:relative; margin-right:4%; float:left; }
.last{ margin-right:0 !important; clear:right; }
.one_third.line_separator{ width:26.66%; padding-right:4%; }



/* Tables */

table {border-collapse:separate;border-spacing:0;width:100%;border-top:1px solid #e0e0e0;margin-bottom:18px;}
table,td,th { _text-align:left;}
th{padding:10px;text-transform:uppercase;}
td{padding:10px;}
tfoot td{border:0px;}
/*th,tr:hover{background-color:#ececec;}


/* Easy Contact Plugin Styling */
div.formcontainer{
	clear: both;
	overflow: hidden;
	width: 100%;
}

div.formcontainer span.required {
	color: #FF0000;
}
div.formcontainer p.error,
div.formcontainer p.important,
div.formcontainer p.information,
div.formcontainer p.success {
	line-height: 250%;
	width: 95%;
	font-size:11px;
	color:#ff0000;
}
div.formcontainer form.contact-form {
	clear: both;
	float: none;
}
div.formcontainer form.contact-form fieldset {
	color: #777;
	margin: 0.5em 0 1.5em 0;
}
div.formcontainer form.contact-form fieldset legend {
	text-transform:capitalize;
}
div.formcontainer form.contact-form fieldset div.form-label {
	display: block;
	float:none;
	line-height:150%;
	margin: 0.5em 0 0 0;
	padding:0;
	text-align:left;
	width:100%;
}
div.formcontainer form.contact-form fieldset div.form-label label,
div.formcontainer form.contact-form fieldset div.form-option label {
	cursor: pointer;
	line-height:100%;
}
div.formcontainer form.contact-form fieldset div.form-input,
div.formcontainer form.contact-form fieldset div.form-textarea {
	display: block;
	float:none;
	margin: 0.2em 0 0 0;
}
div.formcontainer form.contact-form fieldset div.form-input input,
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	border:solid 1px #e4e4e4;
	width:50%
}
div.formcontainer form.contact-form fieldset div.form-input input,
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	padding: 0.3em;
}
div.formcontainer form.contact-form fieldset div.form-textarea textarea {
	overflow: auto;
}
div.formcontainer form.contact-form fieldset div.form-input input.error, div.formcontainer form.contact-form fieldset div.form-textarea textarea.error {
	background-color: #FBF4E2;
}
div.formcontainer form.contact-form fieldset div.form-input input.optional {
	margin-bottom: 0.2em;
}
div.formcontainer form.contact-form fieldset div.form-option,
div.formcontainer form.contact-form fieldset div.form-submit {
	display: block;
	float:none;
	margin: 1em 0 0 0;
	width:100%;
}
div.formcontainer form.contact-form fieldset div.form-submit input {
background-color:#f2f2f2; border:solid 1px #e4e4e4; color:#6b6b6b !important; padding:0px 10px 2px 10px; width:120px; height: 28px; line-height:24px; margin-top:5px; cursor:pointer; font-family:Arial; text-transform:uppercase; font-size:11px;}
div.formcontainer fieldset { border:0px solid #ddd; padding:0px;}
div.formcontainer fieldset legend { padding:0px; font-weight:bold; padding:0px; color:#777; padding-left:1px }
* html div.formcontainer fieldset legend, *+html div.formcontainer legend{margin-left:-6px;}

/* WP-PageNavi plugin */
/* wp-pagenavi */

.wp-pagenavi {
	clear: both;
	line-height:25px;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #bfbfbf !important;
	padding: 3px 7px !important;
	margin: 2px;
	color:#888787;
	text-decoration:none !important;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border: 1px solid #bfbfbf !important;
}



.wp-pagenavi span.current {
	font-weight: bold;
}


/*breadcrumbs*/
#breadcrumbs{
	padding:0px 0px 10px 0px;
	}

/* flickr */	
#flickr {text-align:left !important;}
#flickr img {
margin:4px 4px 4px 0px !important;
padding:1px;
border:1px solid #ccc;
}
.flickr_badge_image{ display:inline-block !important}
* html .flickr_badge_image, *+html .flickr_badge_image{display:inline !important}

#feedbacktelefon {
	background:#eaffc6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:250px;
	height:90px;
	padding:10px 10px;
}
#feedbacktelefon h2{
	text-align: left!important;
}
#feedbacktelefon p {
	font-size:11px;
	_padding-left:50px;
	_background: url(http://castour.ru/wp-content/uploads/2013/02/tel.png) no-repeat 5px; 
}
.feedbacktelefon {
	padding:2px 4px;
	width:130px
}
#feedbacktelefon .wpcf7-response-output {
	position:relative;
	top:-33px;
}

#display {
	display:none;
}

tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:204;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Обычный;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	_font-size:11.0pt;
	_font-weight:400;
	font-style:normal;
	text-decoration:none;
	_font-family:Calibri, sans-serif;
	mso-font-charset:204;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl66
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl67
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	font-size:13.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:none;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	font-size:12.0pt;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
	
	
	.x1l65
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x1l66
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;
	white-space:normal;}
.x1l67
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x1l68
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;
	white-space:normal;}
.x1l69
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;
	white-space:normal;}
.x1l70
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;} 

	
	
	
.x2l65
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x2l66
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:none;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:#F7FCB2;
	mso-pattern:black none;
	white-space:normal;}
.x2l67
	{mso-style-parent:style0;
	font-size:12.0pt;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:none;
	border-bottom:none;
	border-left:none;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
.x2l68
	{mso-style-parent:style0;
	font-size:12.0pt;
	font-weight:700;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x2l69 
	{mso-style-parent:style0;
	font-weight:700;
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x2l70
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;
	white-space:normal;}
.x2l71
	{mso-style-parent:style0;
	font-weight:700;
	mso-number-format:"\@";
	text-align:center;
	vertical-align:middle;
	border-top:1.0pt solid windowtext;
	border-right:1.0pt solid windowtext;
	border-bottom:1.0pt solid windowtext;
	border-left:none;
	background:yellow;
	mso-pattern:black none;}
.x2l72
	{mso-style-parent:style0;
	font-size:13.0pt;
	font-weight:700; 
	vertical-align:middle;
	background:white;
	mso-pattern:black none;
	white-space:normal;} 

	
#nav_menu-24 .menu-vrempostoyan-container li{
font-weight:bold;   
}
#nav_menu-24 h2{
font-weight:bold;   
}
#nav_menu-17 .menu-3-vida-zagran-container li{
font-weight:bold;   
}
#nav_menu-17 h2{
font-weight:bold;   
}
#nav_menu-23 .menu-zagranpasport-srochno-container li{
font-weight:bold;   
}
#nav_menu-23 h2{
font-weight:bold;   
}
#nav_menu-22 .menu-zagranpasport-dlya-inogorodnix-container li{
font-weight:bold;   
}
#nav_menu-22 h2{
font-weight:bold; 
}
#nav_menu-21 .menu-zagranpasport-dlya-detej-container li{
font-weight:bold;   
}
#nav_menu-21 h2{
font-weight:bold; 
}



