/*
Theme Name: iwtech.ru theme
Theme URI: http://iwtech.ru;
Author: iwtech.ru
Author URI: http://iwtech.ru;
Description: Тема разработана iwtech.ru
Version: 1.4
License: Commercial
Template: blitz3
-------------------------------------------------------------- */
.iwt_redblock {
    background-color:#f46f33;
    margin-bottom:58px;
    padding:45px;
    padding-top:36px;
    padding-left:40px;
    padding-right:32px;
    font-size:16px;
    font-style:italic;
    line-height:30px;
    max-height:211px;
}/*
.iwt_onaspishut_page .iwt_redblock,.iwt_onaspishut_page .iwt_redblock *{
    font-style:normal !important;
}
*/
.iwt_redblock span{
    opacity:0.8;
    text-shadow: none !important;
}
.iwt_redblock {
    color: #fff;
    font-family: 'Open Sans', sans-serif;    
}
.iwt_redblock h3 {
    font-style: normal;
    color:#fff;
}
.page-template-tpl-oformlenie-php h1 {
    font-size:36px;
    color:#333!important;
    margin-top:37px;
    margin-bottom:17px;    
    width:100% !important;
}
.iwt_zakonodatelstvo h1 {

}
.page-template-tpl-oformlenie-php .iwt_blanki_block_li{
    margin-bottom:27px;
}
.iwt_blanki_block_li_a {
    text-decoration: underline;
}
.iwt_o_kompanii_plus_block_content,.page-template-tpl-oformlenie-php, .page-template-tpl-oformlenie-php li {    
    font-family: 'Open Sans', sans-serif;
}
.iwt_redblock h3 {
    margin-bottom: 30px;
    font-size:30px;
    font-weight: 600 !important;
}
.iwt_onaspishut {
    width:100%;
    margin-bottom:37px;
    color: #333333;
    font-size:14px;
    margin-top:65px;
    position: relative; 
}
.iwt_onaspishut_page .iwt_content0 h1{
    margin-top:6px;
}
.iwt_onaspishut_page .top-text__title {
    font-size:36px;
    font-weight:bold;
}
.iwt_onaspishut_page h2,.iwt_onaspishut_page h3,.iwt_onaspishut_page h1 {
    font-size:30px;
    margin-bottom:18px;
    font-weight:bold;
}
.iwt_onaspishut_2key {
    font-size:14px;

}
.iwt_onaspishut_2key h1 {
    margin-top:71px;
}
.iwt_onaspishet {
    /*    float:left;
        display:inline-block;
        max-width:50%; 
        min-width:50%;*/
    padding-top:32px;
    position: relative;
}
.iwt_onaspishet_v_border{ 
    position:absolute;
    border-right:1px dotted #909090;
    height:100%;
    width:1px;
    top:1px;
    right:50%;
    border-bottom:1px solid transparent;
}
.iwt_onaspishet_h_border {
    height:1px;
    width:100%;
    border-bottom: 1px dotted #909090;
}
.iwt_onaspishut .iwt_onaspishet_h_border:last-child {
    display:none !important;
    height:0;
}
.iwt_onaspishet_1 p {
    padding-right:50px; 
}
.iwt_onaspishet1 p {
    padding-left:50px;
}
.iwt_onaspishet1 .iwt_onaspishet_img,.iwt_onaspishet1 a {
    margin-left:50px;
    display:block;
}
.iwt_onaspishet img {
    display:block;
    height:100px;
}
.iwt_onaspishet_2286 img {
    height:37px;
    margin-top:35px;
    margin-bottom: 35px;
}
.iwt_onaspishet_img {
    height:100px;
    width:200px;
    background-position:left center;
    background-repeat: no-repeat;
    background-size:contain;
}
.iwt_onaspishet a {
    color: #f46f33;
    display:inline-block;
    padding-right:15px;
    font-size:12px;
    margin-top:0px;
    margin-bottom:50px;
    background: url('assets/img/iwt-arr.png') no-repeat right center;
}
.iwt_clear {
    clear:both;
    float:none;
}
.iwt_blanki_page {
    position:relative;
}
.iwt_blanki_page_price_and_terms {
    display: inline-block;
    /*  padding-left:34px;
      padding-right:34px;*/
    color: #fff !important;
    font-size:12px;
    background-color:#d9d9d9;
    border:none;
    border-bottom: 3px solid #aeaeae;
    width:169px;

    /*
    background-color: #3caf78;
    border-bottom: 1px solid #308c60;*/
    position: absolute;
    right:0;
    top:0;
    line-height:40px;
}
.iwt_blanki_page_price_and_terms:hover {
    background-color: #3caf78;
    border-bottom: 1px solid #308c60; 
}
.iwt_blanki_page_price_and_terms a{
    color: #474747;
    font-size:12px;
}
.iwt_blanki_page_price_and_terms:hover a{
    color: #fff;
    text-decoration: none;
}
.iwt_blanki_page h1 {
    margin-bottom:14px;
    font-weight:bold;
}
.iwt_blanki_block {
    border: 1px solid #c6c6c6;
    padding:30px;
    margin-bottom:13px;
}
.iwt_blanki_page .iwt_blanki_block{
    border: 2px solid #c6c6c6;
    padding-left:25px;
}
.iwt_blanki_block h3 {
    color: #333333;
    font-size:22px;
    font-weight:bold;
    margin-bottom:25px;
}
.iwt_blanki_block ul {
    margin:0px;
}
.iwt_blanki_block ul li {
    list-style:none;
    padding-left:38px;
    background:url('assets/img/li-anketa.png') no-repeat 5px center;
    line-height:40px;
}
.iwt_blanki_block ul li.blanki_block_li_kvitanciy {
    background:url('assets/img/li-kvit.png') no-repeat left center;
}
.iwt_blanki_block li a {
    color: #f46f33;
    font-size:15px; 
    font-family: 'Open Sans';
}
.iwt_dopolnitelno {
    border:none;
    background-color: #e7e7e7;
    margin-bottom:0;
}
.iwt_dopolnitelno h3, .iwt_dopolnitelno ul {
    margin-left:26px; 
}
.iwt_o_kompanii_redborder {
    border: 2px solid #f46f33;
    margin-top:20px;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:43px;
    padding-right:43px;
}
.iwt_o_kompanii_redborder_img {

}
.iwt_company_content h2,.iwt_company_content h3 {
    font-size:24px;
    font-weight:bold;
    color:#333;
    margin-bottom:25px;
    margin-top:54px;
}
.iwt_o_kompanii_redborder_img,.iwt_o_kompanii_redborder_content{
    display:inline-block;
    float:left;
}
.iwt_o_kompanii_redborder_content {
    width:640px;
    margin-left:54px;
    font-size:16px;
    font-weight:bold;
    line-height:28px;
    color: #333333;
    font-weight:normal;
    font-smoothing:'subpixel-antialiased';
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-shadow: 0px 0px 0px #ccc !important;
}
.iwt_o_kompanii h3 {
    font-size:24px;
    color:#333;
    font-weight:bold;
    margin-top:40px;
    margin-bottom:30px;
}
.iwt_rednumber {
    color: #f46f33;
}
.iwt_o_kompanii ul {
    margin:0px;
}
.iwt_o_kompanii ul li, .iwt_o_zpnew_content ul li,.iwt_calc_docs_required ul li {
    list-style:none;
    padding-left: 20px;
    margin-top:16px;
    margin-bottom:16px;
    background: url('assets/img/iwt-redsquare.png') no-repeat 0px 7px;    
}
.iwt_calc_docs_required ul li{
    max-width:280px;
    width:280px;
    margin-top:13px;
    margin-bottom:auto;
}
.iwt_o_kompanii_plus_block {
    /*width:167px;*/
    width:209px;
    height:245px;
    padding-top:19px;
    float:left;
    display:inline-block;
    text-align:center; 

}
.iwt_o_kompanii_plus {
    background-color: #efefef;
    padding-top:50px;  
}

.iwt_o_kompanii_plus h2 {
    color: #000;
    margin-bottom:56px;
    text-align: center;
    font-weight: bold;
    font-size:24px;
}
.iwt_o_kompanii_plus .iwt_wrap2 {
    width:965px;

    margin:auto;
}
.iwt_o_kompanii_plus_block {
    border-bottom:1px dotted #bbb;
    border-right:1px dotted #bbb;
}
.iwt_o_kompanii_plus_block1,.iwt_o_kompanii_plus_block5{
    width:167px;
}
.iwt_o_kompanii_plus_block5 {
    border-right:none;
}
.iwt_o_kompanii_plus_block_lastrow {
    border-bottom: none;
}
.iwt_o_kompanii_plus_block_img {
    margin-left:58px;
    margin:15px auto 20px auto;
    background-color:#f46f33;
    width:75px;
    height:75px;
    border: 1px solid #f46f33;
    border-radius:50px;
    text-align:center;
    vertical-align: middle;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
}
.iwt_o_kompanii_plus_block_img img {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
}
.iwt_o_kompanii_plus_block_content{
    padding-left:22px;
    padding-right:22px;
    text-align:center; 
    color:#000;
    font-size:14px;
    padding-bottom:37px;
}
.iwt_o_kompanii_redborder_nb {
    font-weight:bold;
    color: #000;
    padding-left:87px;
    margin-top:54px;
    position: relative; 
}
.iwt_o_kompanii_redborder_nb_em {
    width:59px;
    height:59px;
    border: 2px solid #f46f33;
    color: #f46f33;
    text-align:center;
    line-height:59px;
    font-size:36px;
    border-radius:59px;
    position:absolute;
    left:0;
    top:0;
}
.iwt_o_kompanii_redborder_nb_content {

}
.iwt-spoiler-content {
    max-height:10000px;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.iwt-spoiler-closed .iwt-spoiler-content{
    max-height:0;
    overflow:hidden;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.iwt-spoiler-block {
    margin: 0 0 4px 0; 
}
.iwt-spoilers {
    margin-top:-17px;
}
.iwt-spoiler-block .iwt-spoiler-title {

    background-color: #d8d8d8;
    cursor:pointer;
    padding: 0 0 0 80px !important;
}
.iwt-spoiler-block .iwt-spoiler-title h3 {
    color:#333;
    line-height:47px;
    font-size:22px;
    font-weight:bold;
    padding:0;
}
.iwt-spoiler-closed .iwt-spoiler-title{
    background-image: url('assets/img/iwt-spoiler-big-on.png') !important;
}
.iwt-spoiler .iwt-spoiler-title{
    background-image: url('assets/img/iwt-spoiler-big-off.png');
    background-repeat: no-repeat;
    background-position:left center;
    /* -webkit-transition: background-image 0.5s ease-in-out;
    transition: background-image 0.5s ease-in-out;*/
}
.iwt-spoiler .su-spoiler-style-fancy{
    border:none;
    background: #fff;
    margin-left:54px;
    border-bottom:1px solid #d0d0d0;
}
.iwt-spoiler .su-spoiler-icon{
    display:none;
}
.iwt-spoiler .su-spoiler-title,.iwt-spoiler .su-spoiler{
    /* border:none !important;*/
    background:transparent !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
.wrap *,h1,h2,.row-fluid a,.iwt_redblock,.iwt_redblock *,.iwt_onaspishut_page h1, .iwt_onaspishut_page p {
    font-smoothing:'subpixel-antialiased';
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-shadow: 0px 0px 1px #ccc !important;
}
.home *,.home a{
    text-shadow: inherit !important;
}
.iwt1-footer *,.iwt1-dark-footer *{
    text-shadow: none !important;
    /*-webkit-font-smoothing:none !important;*/
}
.iwt1-service-menu {max-width:230px;}
.iwt1-submenu-col .current {color: #f46f33;}
.iwt-inner-su-spoiler-closed{
    margin-top:35px;
    padding-left:55px;
    color: #333;
    font-size:18px; 

    font-weight:bold;     
    padding-bottom: 0px;
}
.iwt-inner-su-spoiler-closed:after{
    content:" ";
    height:2px;
    border-bottom: 2px solid #d0d0d0;
    margin-top:23px;
    margin-bottom: -9px;
    display:block;
}
.iwt-inner-su-spoiler-closed .iwt-inner-su-spoiler-title{
    padding-left:37px;
    cursor:pointer;
    background-image:url('assets/img/iwt-spoiler-small-off.png');
    background-repeat: no-repeat;
    background-position: left 2px;
}
.iwt-inner-su-spoiler-open .iwt-inner-su-spoiler-title{
    background-image:url('assets/img/iwt-spoiler-small-on.png') !important;
}
.iwt-inner-su-clearfix {
    font-size:14px;
    padding-left:37px; 
    font-weight: normal;
    margin-top:18px;
}
.wrap div .iwt-spoiler-block:last-child{
    margin-bottom:20px;
}
.iwt_news_preview {
    width:204px;
    display:block;
    float:left; 
}
.iwt_news_preview1,.iwt_news_preview2,.iwt_news_preview3{
    margin-right:28px;
}
.iwt_news_preview h3 a{
    color: #f46f33;
    font-size:16px;
    font-weight:bold;

}
.iwt_news_preview_thumb {
    width:204px;
    height:220px;
    background-repeat: no-repeat;
    display:block;
    background-size: cover;
}
.iwt_news_preview h3{
    margin-top:12px;
    margin-bottom:8px; 
}
.iwt_news_date{
    color: #838383;
    font-size:12px;
}
.iwt_news_excerpt{
    font-size:14px;
    color:#333;
    text-indent: 0px;
    margin-bottom:74px;
    margin-top:19px;
}
.iwt_back2news {
    display:block;
    width:256px;
    margin:auto;
    margin-bottom:40px;
    background-color: #d9d9d9;
    text-align:center;
    height:37px;
    border-bottom: 2px solid #aeaeae;
}
.iwt-btn{
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    cursor: pointer;
}
.iwt_back2news:hover, .iwt_back2news:focus {
    background: #aeaeae;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.iwt-btn:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #aeaeaeu;
    border: solid 1px #203E5F;
}
.iwt_news_preview_thumb1{
    height: 220px;
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-color:#fff;
    background-position: center center;
}
.col-news {
    margin-bottom:81px; 
}
.col-news-0 {
    padding-left:0;
    padding-right:30px;
}
.col-news-2{
    padding-left:30px !important;
    padding-right:0px;
}
.col-news h3{
    padding-top:9px;
    padding-bottom:4px;
}
.row-fluid {
    margin-left:auto!important;
    margin-right:auto!important;
    width:940px!important;
    min-width:940px;
    max-width:940px;
    padding:0 !important;

}
.iwt_news_excerpt1 {
    font-size:14px;
    color: #333;
    margin-top:14px;
}
.col-news h3 a {
    text-decoration: underline;
    line-height:20px;
    color: #f46f33;
    font-size:16px;
    font-weight:bold;
}
.iwt_back2news a {
    font-size:12px;
    color: #474747;
    text-decoration: none;
    line-height:37px;
}
.iwt_single_news .iwt_news_date{
    margin-top:10px !important;
    margin-bottom:-12px;
    /*margin-bottom:-30px !important;*/
}
.iwt-featured {
    margin-left:0 !important;
    padding:0!important;
    margin-right:27px;
}
.iwt_single_news .top-text, .iwt_single_news .top-text__title {
    width:auto;
}
.iwt_zakonodatelstvo .iwt_onaspishet a {
    background-position: left 5px;
    padding-right:0;
    padding-left:42px;
    display: block;
    text-decoration: underline;
    font-size:14px;
    padding-right:50px;
    background-image:url('assets/img/li-anketa.png');
    background-repeat: no-repeat;
    line-height:21px;
    padding-bottom:5px;
}
.iwt_zakonodatelstvo .iwt_onaspishut{
    /*  margin-top:0px;*/
    margin-top:-3px;
}
.iwt_porofm {
    background-color: #f46f33;
    color:#fff;
    font-size:14px;
    line-height:25px;
    padding-top:10px;
    padding-right:20px;
    text-align:justify; 
    position:relative;
    padding-left:15px;
    height:300px;
    margin-bottom:14px;
}
.iwt-free-img{
    position:absolute;
    top:0;
    left:0;
}
.page-template-tpl-zp-new .iwt_porofm {
    height: auto !important;
    min-height:300px;
}
.iwt-porofm-inner {
    /*    width:426px;*/
    padding-top:10px;
    /*    margin-left:486px;*/
    padding-right:36px;
}
.wrap-nopadding {
    padding:0!important;
}
.page-template-tpl-basic p a {
    color: #f46f33;
}
p a {
    color: #F26522 !important;
}
.iwt_porofm img{
    /*  position:absolute;
      top:0;
      left:0;
      height:300px;
      width:auto;*/
    display:inline;
    height:300px;
    margin-top:-10px;  
    margin-left:-15px;
    float:left;
    margin-right:20px;
}
.iwt_o_zpnew h3, .iwt_o_zpnew h2{
    color: #333;
    font-weight: bold;
    font-size:30px;
    margin-top:60px;
    /*  font-size:36px;*/
}
.iwt_o_zpnew h1{
    color: #333;
    font-weight: 600;
    font-size:30px;
    margin-top:60px;
    /*  font-size:36px;*/
}

.iwt_o_zpnew h3 {
    margin-bottom:18px;
    /* font-size:30px;*/
}
.iwt_o_zpnew .iwt_o_zpnew_content a{
    color:#f46f33;
    text-decoration: underline;
}
.iwt_kontakti_data .row>div {
    background-repeat: no-repeat;
    background-position: 0 0;    
    padding-left:75px;
    min-height:55px;
    margin-bottom: 0px;
    margin-top:27px;
}
.iwt_kontakti_flag {
    background-image:url(assets/img/flag.png);    
}
.iwt_kontakti_mail {
    background-image:url(assets/img/mail.png);    
    line-height:55px;
}
.iwt_kontakti_phone {
    background-image:url(assets/img/phone.png);   
    line-height:27px;
}
.iwt_kontakti_clock {
    background-image:url(assets/img/clock.png);    
}
.iwt_kontakti .bs-example {
    margin-top:24px;
}
.iwt_kontakti_map li,.iwt_kontakti_map,.iwt_kontakti_map a{
    border: none !important;
}
.iwt_kontakti_map li a{
    color: #fff;
    width:162px;
    text-align:center;
}
.iwt_kontakti_map li a{
    background-color: #e8e8e8;
    color:#4e4e4e;
    font-weight:bold;
    border-radius: 0!important;
    font-size:12px;
    line-height:22px;
    text-transform: uppercase;
    height:41px;
    font-weight:bold;
    cursor:pointer !important;
}
.iwt_kontakti_map {
    width:350px;
}
.iwt_kontakti_map li {
    padding-bottom: 10px;
    margin-right:5px;
}

.iwt_kontakti_map li:hover,.iwt_kontakti_map .active{
    background-image:url('assets/img/triangle.png');
    background-repeat: no-repeat;
    background-position: bottom 3px center;
}
.iwt_kontakti_map li.active a, .iwt_kontakti_map li:hover a {
    background-color:#f46f33!important;
    color: #fff !important;
}
.iwt_kontakti_map:hover li.active a{
    background-color: #a5a5a5 !important;  
}
.iwt_kontakti_map:hover li.active{
    background-image:none;
}
.iwt_kontakti_map li.active:hover a{
    background-color:#f46f33!important;
    color: #fff !important;
}
.iwt_kontakti_map .active:hover{
    background-image:url('assets/img/triangle.png') !important;
}
.iwt1-list li a {
    white-space: nowrap !important;
    font-weight:inherit !important;
}
.iwt1-list li a:hover {
    color:#f44508;
}
.white-wave {
    margin-top: -10px !important;
}
.iwt-inherit-a {
    color: inherit !important;
}
.iwt_noborder {
    border: none !important;
}
.iwt-oformlenie ,.iwt-oformlenie a,.iwt_dopolnitelno,.iwt_dopolnitelno a,.iwt_calc_controls * {
    font-family: 'Open Sans', sans-serif;
}
.iwt_oformlenie .iwt_blanki_block {
    padding-left:0;
    padding-right:0;
}
.iwt_dopolnitelno_oformlenie {
    margin-top:20px;
    /*    margin-bottom: 16px;*/
    padding-top:30px;
    padding-bottom: 30px;
}
.iwt_dopolnitelno_oformlenie {
    text-align:center;
}
.iwt_dopolnitelno_oformlenie a{
    line-height:26px;
    color: #333;
    font-weight:600;
    display:inline-block;
    font-size: 12px;
    text-decoration: underline;
}
.iwt_dopolnitelno_oformlenie a:hover,.iwt_dopolnitelno_oformlenie .current-url{
    text-decoration: none;
    color: #f46f33;
}
.iwt_dopolnitelno_calc-wrap {
    margin:auto;
    /* width:950px;*/
}
.iwt_dopolnitelno_calc h3 {
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color:#000;
    margin:auto;
    margin-top:33px;
}
.iwt_dopolnitelno_calc {
    /*background-color: #faf3dc;*/
    background-color: #faf3dc;
}
.iwt_calc_controls,.iwt_calc_values{
    padding:20px;
    margin-left:-15px;

}
.iwt_calc_values{padding-bottom:5px;}
.iwt_calc_controls {
    background-color: #f46f33;
    padding:20px;

}
.iwt_calc_controls h4 {
    color: #fff;
    font-weight:bold;
    font-size:16px;   
}
.iwt_calc_controls ul {
    margin-top:16px;
    margin-bottom:25px;

}
.iwt_calc_controls ul li{
    list-style:none;
    cursor:pointer;
    padding-left:30px;
    height:32px;
    width:186px;
    border:2px solid #f7c7b1;
    margin-bottom:4px;
}
.col-grey {    
    background-color: #f46f33;
}
.iwt_calc_controls ul li a {
    line-height:32px;
    color: #fff;
    font-size:14px;
}
.iwt_calc_controls ul .iwt-ticked {
    background-color: #faf3dc;/*#f46f33;*/
    background-image:url('assets/css/img/ticked.png');
    background-repeat:no-repeat;
    background-position: left 6px center;
}
.iwt_calc_controls ul .iwt-ticked a {
    font-weight:bold;
    color: #f46f33;
    font-size:14px;
    white-space: nowrap;
}
.col-xs-values {
    padding-left:70px;
}
.row-days {
    padding:0 !important;
}
.col-xs-values h4 {
    font-size:16px;
    white-space: nowrap;
    color: #000;
    font-weight:bold;
    margin-top:20px;
}
.col-xs-values h4 span{
    font-weight:normal;    
}
.iwt_calc_days {
    padding-left:29px;
    white-space: nowrap;
    overflow: hidden;
    font-size:16px;
    color:#000;
    font-weight:bold;
}
.iwt_calc_days span {
    font-weight:normal;
    font-size:14px;
}
.iwt_calc_values *,.iwt_calc_notes,.iwt_calc_notes *{
    font-family: 'Open Sans', sans-serif;
}
.iwt_calc_values{
    font-size:16px;
    color:#5d5d5d;
    width:606px;
    margin-left:0px;
    white-space: nowrap;
}
.iwt_calc_values>div {
    padding:0!important;
}
.iwt_calc_amount {
    padding:0 !important;
    color: #5d5d5d;
    font-size:16px;
}
.iwt_calc_days {
    background-image: url('assets/css/img/cals.png');
    background-repeat: no-repeat;
    margin-bottom:18px;
}
.iwt_calc_days11,.row-days_2 {
    background-position: 0 -38px;
}
.iwt_calc_days12,.row-days_3 {
    background-position: 0 -79px;
}
.iwt_calc_days23,.row-days_4 {
    background-position: -370px 0px;
}
.iwt_calc_days24,.row-days_5 {
    background-position: -370px -38px;
}
.iwt_calc_days25,.row-days_6 {
    background-position: -370px -79px;
}
.iwt_calc_values .iwt_variant {
    display:none;
}
.iwt_calc_notes {
    font-size:12px;
    color: #333;

}
.iwt_redtext {
    color: #d92603;
}
.iwt_calc_docs_required {
    margin-top:20px;
}
.iwt_calc_docs_required>div {
    padding:0 !important;
}
.iwt_oformlenie_car .row {
    font-size:16px;
    color:#333;
    line-height:20px;
    padding: 66px 174px 69px 107px;
    background-image:url('assets/img/car.png');
    background-repeat: no-repeat;
    background-position: left center;
    max-width:940px;
    width:940px;
    min-width: 940px;
    margin:auto;
}
.iwt_oformlenie_tabs {
    width:940px !important;
    white-space: nowrap;
}
.iwt_oformlenie_tabs a{
    padding:0px;
    margin:0px !important;
    height:57px !important;
    line-height:39px !important;
    font-size:14px !important;
}
.iwt_oformlenie_tabs .tab_obratite-vnimanie a{
    width: 277px;
    max-width:277px;
    min-width:277px;
    margin-right:2px !important;
}
.iwt_oformlenie_tabs .tab_vozmozhny1510734472 a{
    width: 354px;
    max-width:354px;
    min-width:354px;
    margin-right:2px !important;
}
.iwt_oformlenie_tabs li {
    margin:0px;    
    padding-right:0px;
    padding-left:0px;
}
.iwt_oformlenie_tabs .tab_preimushh2259620383 a{
    /*width: 306px !important;*/
    width:305px;
}
.iwt_oformlenie_tab_content {
    min-height: 362px;
    width:930px;
    margin:auto;
    margin-top:13px;
    color: #333;
}

.top-text__title{
    font-weight:600 !important;
    max-width:750px;
}
.page-template-tpl-oformlenie .iwt_blanki_block{
    /*    width:924px;*/
}
.page-template-tpl-oformlenie .top-text__title {
    max-width: 100%;
}
.row-content {
    padding-top:40px;    
}
.breadcrumbs {
    padding-left:0!important;
}
b,strong {
    font-weight:600 !important;
}
.page-template-tpl-contacts .iwt_kontakti_map{
    margin:0 !important;
    padding-bottom: 3px;
}
.page-template-tpl-contacts .iwt_kontakti_map li{
    margin-bottom:-1px;
}
.iwt_kontakti_data {
    margin-bottom: 31px;
}
.iwt-extratext {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height:22px;
    margin-top:8px;
    padding-bottom:15px;
}
.iwt1-submenu,.iwt1-submenu-inner {
    background-color: #e6e6e6;
}
.iwt1-submenu a {
    white-space: nowrap;
}
.iwt1-submenu a:hover {
    color: #f5800e;
}
.iwt1-footer-list li a {
    max-width:206px;    
}
.iwt1-footer-list li a:hover{
    color:#f44508;
}
.iwt1-submenu-icon, .iwt1-submenu-icon:hover {

}
.row-with-counters {
    position:relative;
    margin-left:0px;

}
.iwt-footer-banners {
    position:absolute;
    right:0px;
    top:0;
}
.iwt-footer-banner {
    display: inline-block;
    float:left;
    margin-right:5px; 
    margin-left:5px;
}
.iwt-footer-banner2 {
    margin-right:0px;

}
.iwt1-dark-footer .wrap{
    /* padding-right:120px;*/
}
.error404 .row-content {
    font-weight: 600;
    margin-bottom:56px;
    margin-top:-22px;
}
.error404 .button404 {
    color:#fff;
    background-color:#f46f33;
    border:none;
    height:38px;
    width:165px;
    border-bottom:2px solid #c35929;
    font-size:12px;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.27) !important;
    margin-bottom:57px;
    margin-left:7px;
}
.btn404,.btn404:hover, .btn404:active,.btn404:focus{
    margin-bottom:57px;
    margin-left:7px;
}
.iwt1-orange-title a{
    color: inherit;
}
.error404 .top-text__title{
    font-size:36px;
}
.iwt-rose-wrap {
    width:100%;
    background-color: #faf3dc;
}
.page-template-page-calc>#ui-datepicker-div {
    display:none;
}
.row-fluid,.wrap,body,html{
    min-width:940px;
    /*   overflow-x:hidden;*/

}
.iwt1-dark-menu .wrap {
    overflow: visible;
}
.col-docs2 ul,.col-docs2 h4 {
    margin-left:30px !important;
}
.iwt_docs_included_block h4,.iwt_docs_included_block ul{
    margin-left:15px;
}
ul.iwt_docs_included li {
    max-width:270px;
    width:270px;
}