@font-face {
    font-family: 'Bebas Neue';
    src: url('bebasneue_bold.eot');
    src: url('bebasneue_bold.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_bold.woff') format('woff'),
         url('bebasneue_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('bebasneue_regular.eot');
    src: url('bebasneue_regular.eot?#iefix') format('embedded-opentype'),
         url('bebasneue_regular.woff') format('woff'),
         url('bebasneue_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
